#slides { position: relative; width: 100%; overflow: visible;}
#slides .slides-container {display: none;}
.slides-navigation {margin: 0 auto; position: absolute;z-index: 3; top: 46%;width: 100%;}
.slides-navigation a, .slides-navigation a:focus { position: absolute;display: block;font-size: 60px; color: rgba(255,255,255,0.7); padding: 0px; background: transparent;transition: all 0.3s;}
.slides-navigation a:hover, .slides-navigation a:active:focus, .slides-navigation a:active {color: #fff; background: transparent;}
.slides-navigation a.prev {left: 20px;}
.slides-navigation a.next {right: 20px;}
#slides .container {height: 100%; display: table; }
#slides .container .info-wrapper {display: table-cell; height: 100%; vertical-align: middle;}
#slides .container .info-wrapper article {width: 40%; height: 366px}
#slides .container .info-wrapper article h1 {text-transform: none;}
#slides .container .info-wrapper article p {color: #fff;}

/* SUPLA */
html, body {text-align: center;}
.wrapper { max-width: 400px; margin: 0 auto;}
.wrapper a.brand {animation-name: fadeIn; animation-delay: 0s; animation-duration: 1s;}
.wrapper a.brand img {display: block; width: 150px; height: auto; margin: 0 auto 70px;}
.wrapper a.error { display: inline-block; background: #FFE838; padding: 12px 20px; margin-top: 15px; border-radius: 3px; text-align: left;animation-name: fadeIn; animation-delay: 0; animation-duration: 1s;}
.wrapper p {font-size: 13px; color: #000; margin: 0;}

footer {position:fixed;bottom:0;left:0;z-index: 9999;width: calc(100% - 20px);padding: 0;margin:10px;color: #000;font-size: 14.5px;color: #fff;padding: 0 20px;font-size: 13px;line-height: 32px;min-width: 1030px; animation-name: fadeIn; animation-delay: 0.9s; animation-duration: 1s;}
footer select {padding:0px 7px; margin: 0; border-radius:3px;background: rgba(255,255,255,0); outline:none;display: inline-block;-webkit-appearance:none;-moz-appearance:none; appearance:none;cursor:pointer;color: #000;border: solid 1px rgba(0,2,4,0.15);width: 150px;height: 32px!important;line-height: 32px;}
footer select::-ms-expand { display: none;}
footer label {position:relative; color: #000; font-weight: 400;}
footer label:after {font-family: 'Pe-icon-7-stroke';line-height: 26px; content:'\e682';font-size:26px;color:#000;right:8px; op:0px; padding:0 0 2px;position:absolute;pointer-events:none;}
footer label:before { content:'';right:6px;top:0px; width:20px;height:20px;position:absolute;pointer-events:none;display:block;}
footer a{ font-weight: 400; color: #000; border-radius: 3px; padding: 7px 9px;}
footer a:hover{background: rgba(0, 2, 4, 0.08); color: #000;}
.section.login {background: #00D151}
.password-remainder {background: #FFE804;}

body.register, body.register_success {background: #00D151; overflow: visible; color: #fff;}
.create-form {position: absolute;top: 0px; left: 55%; height: 100%;z-index: 50; max-width: 400px; display: table;}
.create-form .wrapper {display: table-cell; height: 100%; vertical-align: middle;}
.create-form .wrapper h1 {color: #fff; margin-bottom: 20px;}
.create-form input[type="password"], .create-form input[type="email"] {padding: 0px; border: none; border-bottom: solid 1px rgba(255,255,255,0.7); font-size: 18px; line-height: 36px; width: 100%; background: none; margin-bottom: 3px; font-weight: 300; color: #000; transition: all 0.3s; color: #fff; margin-top: 10px; max-width: 301px; height: 37px;}
.create-form input[type="password"]:focus, .create-form input[type="password"]:hover, .create-form input[type="email"]:focus, .create-form input[type="email"]:hover {border-bottom-color: #fff;}
.create-form label {color: #FFE804; margin: 3px 0 10px;}
.create-form #registration input[type="password"]:hover + label, .create-form 
.recaptcha {margin: 10px 0 20px;}
#user_registration_type_Create {background:  #fff; border: solid 1px #fff; border-radius: 3px; width: 100%; max-width: 301px; line-height: 30px; font-size: 13px; text-transform: uppercase; color: #000; transition: all 0.3s;}
.create-form i {color: #fff; font-size: 40px; display: inline-block; margin-top: 40px;}
#user_registration_type_Create:hover {background: #F0F1F4; border-color: #F0F1F4; color: #000; transition: all 0.3s;}
body.register footer a, body.register_success footer a {color: #fff; border: solid 1px transparent;}
body.register footer a:hover, body.register_success footer a:hover {background: none; border: solid 1px rgba(255,255,255,0.5);}
body.register footer select {color: #fff; border: solid 1px rgba(255,255,255,0.5);}
body.register_success .message {padding-top: 17%;}
body.register_success .message i {font-size: 200px; display: inline-block;  margin-bottom: 40px; animation-name: fadeInUp; animation-delay: 0.2s;}
body.register_success .message h1 {animation-name: fadeInUp; animation-delay: 0.8s;}
body.register_success .message p {color: #fff; font-size: 17px; font-weight: 300; display: inline-block; margin-top: 10px; color: rgba(255,255,255,0.8); animation-name: fadeInUp; animation-delay: 1.4s;}
body.register a.brand img { display: block; width: 280px; height: auto; margin: 250px auto 0; opacity: 0.8}
body.register {text-align: left}
body.register footer label:after {color: #fff;}

body.reset {background: #FFE838; color: #000;}
.reset-interior {position:absolute; height:100%; width:100%;display: table;}
.reset-form { display: table-cell; vertical-align: middle; text-align:center; max-width: 400px;}
.reset-form h1 {margin-bottom: 40px;}
.create-form input[type="password"]::-webkit-input-placeholder, .create-form input[type="email"]::-webkit-input-placeholder  {color: #fff; opacity: 0.8}
.create-form input[type="password"]::-moz-placeholder, .create-form input[type="email"]::-moz-placeholder  {color: #fff; opacity: 0.8}
.create-form input[type="password"]:-moz-placeholder, .create-form input[type="email"]:-moz-placeholder  {color: #fff; opacity: 0.8}
.create-form input[type="password"]:-ms-input-placeholder, .create-form input[type="email"]:-ms-input-placeholder  {color: #fff; opacity: 0.8}
