html,body{min-width: 1100px; width: auto!important; width: 1100px; height:100%; background:#FAFBFC;font-family: 'Open Sans', sans-serif; font-weight: 400; color: #000; padding: 0px; margin: 0px; -webkit-font-smoothing: subpixel-antialiased; transition: background .4s ease-in-out;}
::selection  {
  background: #00D151;
  color: #fff
}
::-moz-selection  {
  background: #00D151;
  color: #fff
}
body.noactive {overflow: hidden}

h1 {
	font-family: 'Quicksand', sans-serif;
	font-size: 42px;
	line-height: 42px;
	font-weight: 300;
	text-transform: capitalize;
	letter-spacing: -3px;
	margin: 10px 0;
	position: relative;
	-webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
	animation-name: fadeIn;
}
h1 strong {font-weight: 400;}
h1.big {font-size: 72px; line-height: 72px; letter-spacing: -6px; animation-name: fadeIn; animation-delay: 0s; margin-bottom: 25px}
body.first-time h1.big {animation-delay: .1s;}
h1 .filter-container {position: relative;}
h1 .filter-container .btn-group {float: left; margin-right: 10px;}
.sys-select, .phone-app-btns {display: inline-block; margin: 10px 0 15px; animation-name: fadeIn; animation-delay: 0s;}
h1 .filter-container .btn-group .btn.btn-default, .sys-select .btn.btn-default, .phone-app-btns .btn.btn-default {background: transparent; font-size: 11px; line-height: 26px; font-family: 'Open Sans', sans-serif; font-weight: 400; color: #000;letter-spacing: 0px; padding: 4px 10px; text-transform: uppercase; border-color: #ebecef; border-radius: 3px; transition: all 0.25s;}
.phone-app-btns .btn.btn-default {color: #fff; background: #1F1F1F; border-color: #1F1F1F;}
.phone-app-btns .btn.btn-default:hover {background: #000; border-color: #000}
h1 .filter-container .btn-group .btn.btn-default:last-child, .sys-select .btn.btn-default:last-child {border-radius: 0px 3px 3px 0}
h1 .filter-container .btn-group .btn.btn-default:active, .sys-select .btn.btn-default:active {box-shadow: none;}
h1 .filter-container .btn-group .btn.btn-default.active, .sys-select .btn.btn-default.active {box-shadow: none; background: #ebecef}
h1 .filter-container .btn-group .btn.btn-default:hover, .sys-select .btn.btn-default:hover {background: #ebecef;}
h1 .filter-container .btn-group:hover .btn.btn-default, .sys-select:hover .btn.btn-default {border-color: #000;}
h1 .filter-container .btn-group:hover .btn.btn-default.active, .sys-select:hover .btn.btn-default.active {background: #000; color: #fff;}

h1 input[type="text"] {
	margin-top: 0px;
	font-size: 11px;
	line-height: 26px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400; 
	color: #000;
	text-align: left;
	border: solid 1px #ebecef;
	background: none;
	padding: 4px;
	border-radius: 3px;
	transition: all 0.3s;
	text-transform: uppercase;
	height: 36px;
}
h1 input[type="text"]:hover, h1 input[type="text"]:focus { border: solid 1px #000; }
h1 input[type="text"]::-webkit-input-placeholder { color: #000; opacity: 0.8; text-align: center; transition: all 0.25s;}
h1 input[type="text"]:-moz-placeholder { color: #000; opacity: 0.8; text-align: center; transition: all 0.25s; }
h1 input[type="text"]::-moz-placeholder { color: #000; opacity: 0.8; text-align: center; transition: all 0.25s; }
h1 input[type="text"]:-ms-input-placeholder { color: #000; opacity: 0.8; text-align: center; transition: all 0.25s;}

h2 {
	font-family: 'Quicksand', sans-serif;
	font-size: 36px;
	line-height: 36px;
	font-weight: 300;
	letter-spacing: -2px;
}
h2 strong {font-weight: 400;}
a {color: #00D151; transition: all 0.3s;}
a:hover, a:active, a:focus {text-decoration: none; color: #606060; outline: none; box-shadow: none;}
.btn, .btn:hover, .btn:active, .btn:focus, input {outline: none!important; box-shadow: none!important; }
.input-group .btn { text-transform: uppercase; }
.table a.disabled {color: #FF3939}
.table a.caption {color: #000}
.table a i.pe-7s-more  {font-size: 24px; line-height: 18px; margin-left: 3px;}

p { color: #333; font-size: 14px; line-height: 23px}
p.intro {animation-name: fadeIn; animation-delay: 0s}
body.first-time p.intro {animation-delay: .3s}
strong {font-weight: 600;}
.margin-top-20 {margin-top: 20px;}
.margin-top-30 {margin-top: 30px;}
.margin-top-40 {margin-top: 40px;}
.margin-top-50 {margin-top: 50px;}
.margin-top-60 {margin-top: 60px;}
.margin-top-70 {margin-top: 70px;}

.margin-bottom-30 {margin-bottom: 30px;}
.margin-bottom-40 {margin-bottom: 40px;}
.margin-bottom-50 {margin-bottom: 50px;}
.margin-bottom-60 {margin-bottom: 60px;}
.margin-bottom-70 {margin-bottom: 70px;}

span.connected, span.enabled { font-family: 'Quicksand', sans-serif; font-size: 11px; line-height: 11px; background: #00D151; color: #fff; padding: 3px 6px; border-radius: 3px;text-transform: uppercase; margin-right: 3px;}
span.disconnected, span.disabled { font-family: 'Quicksand', sans-serif; font-size: 11px; line-height: 11px; background: #FF3939; color: #fff; padding: 3px 6px; border-radius: 3px;text-transform: uppercase; margin-right: 3px;}
span.unknown { font-family: 'Quicksand', sans-serif; font-size: 11px; line-height: 11px; background: #000; color: #fff; padding: 3px 6px; border-radius: 3px;text-transform: uppercase; margin-right: 3px;}


.row .half {display: inline-block; float: left; width: 49%;}
.row .one-third {display: block; width: 40%; float: left}
.row .two-third {display: block; width: 59%; float: left}

/* DEFAULT */
.instruction > .col-xs-6:nth-child(1) {padding: 30px 8px 30px 0px;}
.instruction > .col-xs-6:nth-child(2) {padding: 30px 0px 30px 8px;}
.instruction > .col-xs-6 > .step {background:url(/assets/img/step-1.svg) no-repeat; background-size: 100% auto; padding: 70px 20px 30px 20px; border-radius: 20px; color: #000;}
.instruction > .col-xs-6:nth-child(2) > .step {background:url(/assets/img/step-2.svg) no-repeat; background-size: 100% auto; padding: 70px 20px 30px 20px; border-radius: 20px; color: #fff;}
.instruction > .col-xs-6 > .step h2 {text-align: center; margin-bottom: 15px;}
.instruction > .col-xs-6 > .step p {color: inherit; min-height: 40px;margin: 5px 0;}
.instruction > .col-xs-6:nth-child(1) > .step input[type="text"] {background: transparent;border: none; border-bottom: solid 1px rgba(0,2,4,.25);width: calc(100% + 40px); margin-left: -20px; line-height: 36px; padding: 0 20px; margin-top: 8px; font-size: 16px;}
.instruction > .col-xs-6:nth-child(2) > .step input[type="text"] {background: transparent;border: none; border-bottom: solid 1px rgba(255,255,255,.8);width: calc(100% + 40px); margin-left: -20px; line-height: 36px; padding: 0 20px; margin-top: 8px; font-size: 16px;}
.instruction > .col-xs-6 > .step label {font-size: 13px; font-weight: 400; color: rgba(0,2,4,.6); line-height: 26px;}
.instruction > .col-xs-6:nth-child(2) > .step label {font-size: 13px; font-weight: 400; color: rgba(255,255,255,.9); line-height: 24px;}

/* OWL CAROUSEL */
.owl-carousel .owl-wrapper:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
.owl-carousel{ display: none; position: relative; width: 100%; -ms-touch-action: pan-y;}
.owl-carousel .owl-wrapper{ display: none; position: relative;}
.owl-carousel .owl-wrapper-outer{ overflow: hidden; position: relative; width: 100%;}
.owl-carousel .owl-wrapper-outer.autoHeight{ -webkit-transition: height 500ms ease-in-out; -moz-transition: height 500ms ease-in-out; -ms-transition: height 500ms ease-in-out; -o-transition: height 500ms ease-in-out; transition: height 500ms ease-in-out; }	
.owl-carousel .owl-item{ float: left; }
.owl-controls .owl-page, .owl-controls .owl-buttons div{ cursor: pointer; }
.owl-controls { -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

/* SCROLL LIST */
.scroll_list_wrapper {padding: 30px 80px 40px; position: relative; border-bottom: solid 1px #ebecef; min-height: 261px; z-index: 10!important; -webkit-animation-duration: 0.5s;
animation-duration: 0.5s; -webkit-animation-fill-mode: both; animation-fill-mode: both; animation-name: fadeIn;}
.scroll_list_wrapper .inner {max-width: 2000px; margin: 0px auto;}
.scroll_list_wrapper.channel_list {border-bottom: none;}
.scroll_list_wrapper  ul {margin: 0px; padding: 0px;}
.scroll_list {list-style-type: none;}
.scroll_list .item, .location-info .item {display: block; position: relative; padding: 5px 10px; min-height: 180px;background: #ebecef; color: #000;  border-radius: 3px; font-size: 13px; border: solid 2px transparent; list-style-type: none; margin: 0 5px; cursor: pointer; transition: all .2s ease-in-out;z-index: 20; margin-top: 8px; box-shadow: 0 1px 2px rgba(0,0,0,.2)}
.scroll_list .item:hover, .scroll_list .item.selected, .location-info .item:hover { margin-top: 0px; box-shadow: 0 4px 3px rgba(0,0,0,.6);}
.scroll_list .item.selected, .location-info .item {border: solid 2px #000;}

.scroll_list .item.new {text-align: center; padding: 20px; color: #fff; background: #000; transition: all .1s ease-in-out;}
.scroll_list .item.new i {display: inline-block; font-size: 82px; line-height: 82px; margin: 7px 0 20px;}
.scroll_list .item.enable, .location-info .item.enable {background: #00D151; color: #fff;}
.scroll_list .item span.aid, .location-info .item span.aid, .overlay .item .id, .scroll_list_wrapper.channel_list .item .no {font-family: 'Quicksand', sans-serif; font-size: 36px; line-height: 40px; font-weight: 300; letter-spacing: -3px;}
.scroll_list .item span.aid strong, .location-info .item span.aid strong, .overlay .item .id strong, .scroll_list_wrapper.channel_list .item .no strong {font-weight: 400;}
.scroll_list .item .details-wrapper, .overlay .item .details-wrapper {display: inline-block; width: 100%; margin-top: 5px; font-weight: 400;}
.scroll_list .item span.status, .scroll_list .item span.status.enable, .location-info .item span.status, .location-info .item span.status.enable, .tooltipster-default .tooltipster-content a.details span.status, .overlay [type="checkbox"] + div.item .status {position: absolute; bottom: 10px; right: 10px; font-family: 'Quicksand', sans-serif; font-weight: 400; border: solid 1px #fff; padding: 0 3px; border-radius: 2px; text-transform: uppercase; color: #fff;transition: all .2s ease-in-out;}
.scroll_list .item span.status.disable, .location-info .item span.status.disable, .tooltipster-default .tooltipster-content a.details.disabled span.status, .overlay [type="checkbox"] + div.item.disabled .status {color: #fff; background: #FF3939; border-color: #FF3939}
ul.owl-stage {padding: 0px; list-style-type: none; margin: 0px;}
.owl-prev, .owl-next {position: absolute; top: 60px; font-size: 56px; line-height: 56px; transition: all 0.3s; cursor: pointer;color: #000; opacity: 0px;}
.owl-prev { left: -60px; }
.owl-next { right: -60px;}
.scroll_list_wrapper:hover .owl-prev, .scroll_list_wrapper:hover .owl-next {opacity: 1;}
.scroll_list_wrapper.channel_list .item {font-size: 12px; line-height: 18px; min-height: 190px}
.location-info .item.original {background: rgba(193, 209, 81, 0.75); color: #fff; min-height: 55px; border: none}
.owl-carousel .owl-item a:active {transform: scale(0.95); background: red!important;}
.location-info.original .item:after {background: transparent }


/* DEVICES */
.min-devices {margin-top: 35px; margin-bottom: 60px; }
.devices, .channels {margin: 35px auto 60px; padding: 0; -webkit-animation-duration: 0.5s; animation-duration: 0.5s; -webkit-animation-fill-mode: both;animation-fill-mode: both;animation-name: fadeIn;}
.devices .device, body.channel .device, .channels .element-item {background: #ebecef; display: block; width: 280px; margin: 5px; border-radius: 3px; padding: 5px 10px; border: solid 2px transparent; min-height: 240px; position: relative; font-size: 13px;transition: all 0.3s; margin-bottom: 10px;}
body.channel .device {background: #ebecef;}
.devices .device:active,  body.channel .device:active, .channels .element-item:active {transform: scale(0.95);}
.devices .device:hover,  body.channel .device:hover, .channels .element-item:hover {border: solid 2px #000}
.devices .device.enabled,  body.channel .device.enabled {background: #00D151; color: #fff;}
.devices .device.disabled,  body.channel .device.disabled {color: #000}
.devices .device .name,  body.channel .device .name {font-family: "Quicksand",sans-serif; font-size: 26px; line-height: 30px; font-weight: 400; letter-spacing: -1px; margin-bottom: 8px;}
.devices .device .guid,  body.channel .device .guid {font-size: 12px; display: inline-block; width: 100%; margin-bottom: 10px;}
.devices .device .comment, body.channel .device .comment {border-top: solid 1px rgba(0,0,0,0.2); padding-top: 5px; margin-top: 5px; color: #15B133;}
.devices .device.enabled .comment, body.channel .device.enabled .comment {border-top: solid 1px rgba(255,255,255,0.6); color: #fff;}
.devices .device .iodev_connection_state,  body.channel .device .iodev_connection_state {position: absolute; bottom: 15px; right: 10px;}
.devices .device.more { background: #ebecef; text-align: center; padding: 40px 15px 0; color: #000;}
.devices .device.more i {font-size: 70px;}
.devices .device.more img {width: 70px; height: auto;margin-top:8px;}
.devices .device.more .name {font-size: 22px; display: inline-block; margin: 10px 0 5px;}
.devices .device.more p {font-size: 13px; color: #4A4A4A}

@media only screen and (min-width:1180px) and (max-width: 1460px) {
.devices, .channels {width: 1170px;}
}
@media only screen and (min-width:1461px) and (max-width: 1750px) {
.devices, .channels {width: 1460px;}
}
@media only screen and (min-width:1751px) and (max-width: 2040px) {
.devices, .channels {width: 1750px;}
}
@media only screen and (min-width:2041px) and (max-width: 2330px) {
.devices, .channels {width: 2040px;}
}
@media only screen and (min-width:2331px) {
.devices, .channels {width: 2330px;}
}

/* DEVICE */
body.device-details .navbar {margin-bottom: 0px; border-bottom-color: rgba(0,0,0,0.1);}
.device-wrapper {background: #00D151; width: 100%; color: #fff; min-height: 300px; padding-bottom: 35px; margin-bottom: 30px; position: relative; animation-name: fadeIn; animation-delay: 0s; margin-top: -2px;}
.device-wrapper .cd-btn {color: #fff; font-size: 34px; position: absolute; top: 50px;}
.device-wrapper .supla-route {position: relative; width: 67%; border-bottom: solid 2px #fff; margin: 70px auto 20px auto;}
.device-wrapper .supla-route .dot1, .device-wrapper .supla-route .dot2, .device-wrapper .supla-route .dot3 { position: absolute; width: 23px; height: 23px; background: #00D151; display: block; border-radius: 100px; border: solid 3px #fff;}
.device-wrapper .supla-route .dot1.red, .device-wrapper .supla-route .dot2.red, .device-wrapper .supla-route .dot3.red {background: #FF3939}
.device-wrapper .supla-route .dot1 {left: -4px; top: -11px}
.device-wrapper .supla-route .dot2 {left: calc(50% - 14px); top: -11px}
.device-wrapper .supla-route .dot3 {right: -2px; top: -11px}
.device-wrapper .supla-route-info .device, .device-wrapper .supla-route-info .location, .device-wrapper .supla-route-info .accessid {display: inline-block; width: 33%; text-align: center; vertical-align: top;}
.device-wrapper .supla-route-info h3 {font-family: "Quicksand",sans-serif; font-size: 20px; line-height: 26px; font-weight: 400; margin: 5px 0 32px;}
.device-wrapper .supla-route-info .device-info {text-align: left;}
.device-wrapper .supla-route-info .btn-enable, .device-wrapper .supla-route-info .btn-enable:active {border: solid 1px #fff; padding: 2px 7px; transition: all 0.3s;}
.btn.btn-trash, .btn.btn-trash:active {background: #00D151; border-color: #fff; color: #fff; font-size: 15px; line-height: 36px; padding: 3px 12px;}
.device-wrapper .supla-route-info .btn-enable:hover, .device-wrapper .supla-route-info .btn.btn-trash:hover {background: #fff; color: #00D151}
.device-wrapper .supla-route-info .btn-disable {padding: 3px 8px; transition: all 0.3s;}
.device-wrapper .supla-route-info .btn.btn-load.btn-big {border-color: #fff; height: 44px; padding: 12px 20px 0;}
.iodev_connection_state {display: inline;}
.device-wrapper .supla-route-info span.disconnected, .device-wrapper .supla-route-info span.connected, .device-wrapper .supla-route-info span.unknown  { font-family: 'Open Sans', sans-serif; font-weight: 600; text-align: center; vertical-align: middle; background-image: none; padding: 12px 12px; font-size: 15px;line-height: 38px;border-radius: 4px; border: none;}
.location-info .item {max-width: 270px; margin: 0 auto; text-align: left;}
.location-info .item.enable {background: rgba(255,255,255,0.0);margin-top:8px;}
.location a#overlay-changelocation {display: inline-block; color: #fff; margin-top: 10px;}
.device-info ul.device-details li {border-bottom: solid 1px rgba(255,255,255,0.4); line-height: 34px; padding-left: 5px;}
.device-info ul.device-details li:last-child {border-bottom: none; position: relative; padding: 3px 0 0 0;}
.device-info ul li .miniform {width: 320px; position: relative;}
.device-info ul li .miniform textarea {height: 70px; width: 225px; border-radius: 4px 0 0 4px; border: solid 1px transparent; background: transparent;resize: none; padding: 3px 4px; transition: all 0.3s; line-height: 18px;}
.device-info ul li .miniform textarea::-webkit-input-placeholder { color: #fff;}
.device-info ul li .miniform textarea:-moz-placeholder {color: #fff; opacity: 1;}
.device-info ul li .miniform textarea::-moz-placeholder {color: #fff; opacity: 1;}
.device-info ul li .miniform textarea:-ms-input-placeholder {color: #fff}
.device-info:hover ul li .miniform textarea, .device-info ul li .miniform textarea:focus {border-color: #fff; background: rgba(255,255,255,0.2)}
.device-info ul li .btn.btn-textarea {height: 70px; width: 96px; border-radius: 0px 4px 4px 0; position: absolute; top: 0px; line-height: 0px; padding: 0; border: solid 1px transparent; background: transparent; color: transparent; transition: all 0.3s; right: 0px; text-align: center;}
.device-info:hover ul li .miniform .btn.btn-textarea  {color: #fff; border: solid 1px #fff; background: rgba(255,255,255,0.2); }
.device-info ul li .miniform textarea:focus + .btn.btn-textarea { background: rgba(255,255,255,0.5); color: #fff; border-color: #fff}
.device-info ul li .miniform textarea:focus + .btn.btn-textarea:hover, .device-info ul li textarea:focus + .btn.btn-textarea:active { background: #fff; color: #00D151; border-color: #fff}
.device-info ul li .miniform .btn.btn-load.btn-big { position: absolute; top: 0px; right: 0px; width: 95px; height: 70px; padding: 25px 0px; border-radius: 0px 4px 4px 0px;}
.accessid ul.aid {list-style-type: none; padding: 0px; text-align: left; font-size: 0; line-height: 0;}
.accessid ul.aid li {padding: 0; margin: 0px; display: inline-block; width: 48%;}
.accessid ul.aid li a { display: inline-block; width: 99%; margin: 0 ; font-size: 13px; padding: 5px 6px; border-radius: 3px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; transition: all .2s ease-in-out; margin: 1px; line-height: 20px; border: solid 1px #fff; color: #fff; background: rgba(255,255,255,0.1)}
.accessid ul.aid li a.disabled {color: #fff; background: #FF3939; border-color: #FF3939;}
.accessid ul.aid li a:active {transform: scale(0.95);}
.channels a.element-item {color: #000; height: 260px;}
.channels a.element-item img {width: 100px; height: 100px;display: block;}
.channels a.element-item h3 {font-family: "Quicksand",sans-serif; font-weight: 400; font-size: 18px; margin: 0px 0 5px; letter-spacing: -1px; text-transform: uppercase; }
.channels a.element-item .detials {margin-bottom: 5px; font-size: 13px;}
.channels a.element-item .caption { border-top: solid 1px rgba(0,0,0,0.2); color: #15B133; padding-top: 5px; matgin-top: 10px;}

.channels .element-item.none {background: #FFE836;}
.channels .element-item.none .caption {color: #000}

/* CHANNEL */ 
.pictogram, .device-list {width: 30%; float: left; position: relative;}
.infobar {width: 40%; float: left; animation-name: fadeIn; animation-delay: 0s; z-index: 3!important;}
.pictogram { z-index: 2!important; backface-visibility: hidden;}

body.channel .navbar-default {margin-bottom: 0px;}
body.channel .full-height, .infobar { height: 100%; min-height:100%; overflow: visible;}
.infobar{ background: #F0F1F4; padding: 62px 30px 30px; }
.infobar h1 {font-family: "Quicksand",sans-serif; font-size: 26px; line-height: 30px;font-weight: 400; letter-spacing: 0px;text-transform: uppercase;}
.infobar .sensor_state .open {display: inline-block; padding: 0 10px; margin: 5px 0 5px; background: #00D151; color: #fff; border-radius: 5px; font-family: "Quicksand",sans-serif; font-size: 15px; line-height: 30px; font-weight: 400; letter-spacing: -1px;text-transform: uppercase; animation-name: fadeIn; animation-delay: 0s;}
.infobar .sensor_state .close {display: inline-block; padding: 0 10px; margin: 5px 0 5px; background: #FF3939; color: #fff; border-radius: 5px; font-family: "Quicksand",sans-serif; font-size: 15px; line-height: 30px; font-weight: 400; letter-spacing: -1px;text-transform: uppercase; animation-name: fadeIn; animation-delay: 0s;}
.infobar label {display: none;}
.infobar .detail-item, .infobar .panel-heading, .infobar .cfp_relay_time, .infobar .cfp_channel {line-height: 32px; border-bottom: solid 1px #ddd; white-space: nowrap;}
.infobar .detail-item span, .infobar .panel-heading span, .infobar .cfp_relay_time span, .infobar .cfp_channel span {display: inline-block; padding-right: 5px;}
.infobar .detail-item strong {padding-left: 4px}

.infobar .dropdown {display: inline-block; max-width: 255px;}
.infobar .dropdown .btn.btn-default {max-width: 255px; overflow: hidden; padding: 0px 20px 0px 6px; height: 32px; position: relative; background:#F0F1F4;border-color: #F0F1F4; transition: all 0.3s; border-radius: 3px;}
.infobar .dropdown .btn.btn-default span {display: inline-block; line-height: 30px; max-width: 235px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 600;}
.infobar .dropdown .btn.btn-default:after {display: inline-block;position: absolute;font-family: Pe-icon-7-stroke;content: "\e688";font-size: 24px; top: -4px; right: 3px; opacity: 0; transition: all 0.3s;}
.infobar .dropdown .btn.btn-default .caret {display: none;}
.infobar .btn-group, .infobar .dropdown .btn.btn-default {margin: 1px 6px;}
.infobar .btn-group .btn {transition: all 0.3s; border-radius: 0px!important;}
.dropdown-menu.function-select {margin-left: 60px;}
.infobar #iodevice_channel_type_caption, .infobar #iodevice_channel_type_sec {margin: 2px 0; width: 100%; border-radius: 4px; border: solid 1px #F0F1F4; background: #F0F1F4; padding: 3px 0px; line-height: 26px; font-weight: 600; transition: all 0.3s; border-radius: 3px;}
.infobar .btn.btn-default.btn-temp {background: transparent; padding: 6px 0; border: solid 1px rgba(255,255,255,.0); margin-top: 18px; font-weight: 600;}
.infobar #iodevice_channel_type_sec {  width: 80px; }

.infobar:hover .dropdown .btn.btn-default {border-color: #ccc; background-color: #fff}
.infobar:hover .btn.btn-default.btn-temp {padding: 6px 12px;}
.infobar:hover .btn.btn-default.btn-temp:hover {border-color: #00D151;background: #E2F4E8;}
.infobar:hover .btn.btn-default.btn-temp:active {background: #00D151;border-color: #00D151; color: #fff}
.infobar:hover .dropdown .btn.btn-default:after {opacity: 1;}
.infobar:hover .dropdown .btn.btn-default:hover {border-color: #00D151; background: #fff;}
.infobar .dropdown.open .btn.btn-default, .infobar .dropdown.open .btn.btn-default:hover {border-color: #00D151; background: #E2F4E8;}
.infobar:hover .dropdown .btn.btn-default:hover:after, .infobar .dropdown.open .btn.btn-default:after {opacity: 1;}
.infobar .btn-group .btn.btn-default {background-color: #F0F1F4; border-color: #F0F1F4;}
.infobar:hover .btn-group .btn.btn-default {background-color: #fff; border-color: #ccc}
.infobar .btn-group .btn.btn-default:hover {background-color: #E2F4E8; border-color: #5AD36A}
.infobar .btn-group .btn.btn-success {border-radius: 4px; z-index: 4;background: #000; border-color: #000; font-weight: 600;}
.infobar:hover .btn-group .btn.btn-success {border-radius: 0px; background: #00D151; border-color: #00D151; font-weight: 600; z-index: 2;}
.infobar #iodevice_channel_type_caption {height: 34px;}
.infobar:hover #iodevice_channel_type_caption, .infobar:hover #iodevice_channel_type_sec {border-color: #CCC; background: #FFF; padding: 3px 8px;}
#iodevice_channel_type_caption:focus, .infobar:hover #iodevice_channel_type_caption:focus, .infobar:hover #iodevice_channel_type_caption:hover  {border-color: #5AD36A; background: #fff; padding: 3px 8px;}

.infobar .buttons {position: relative; text-align: center; margin-top: 20px;}

.device-list {padding: 40px 15px 0 0;}
.device-list #deviceitem {width: 295px; min-height: 260px; margin: 6px 0 20px 0;}
.device-list .devices-link {animation-name: fadeIn; animation-delay: 0.8s;}
.pictogram .no-function {margin: 46px 10px; padding: 15px 20px 30px; background: #FFE838; text-align: center; border-radius: 3px;}
.pictogram .no-function i {font-size: 110px;}
.pictogram .no-function p{font-size: 13px;}
.pictogram .standard-function-icon img {width: 100%; height: auto; margin-top: 30px; opacity: 0.85; z-index: 2!important}
.pictogram .standard-function-icon span {text-align: center; display: inline-block; width: 100%; line-height: 140%; font-size: 12px; text-transform: uppercase; font-weight: 600;}
.pictogram .temperature {position: relative;}
.pictogram .temperature img{display: block; width: 180px; height: auto; margin: 0 auto;}
.pictogram .temperature .bottom {position: absolute; width: 50px; height: 50px; background: #000; border-radius: 30px; left: calc(50% - 25px); top: 355px;}
.pictogram .temperature .line {position: absolute; width: 16px; height: 240px; background: #000; border-radius: 30px; left: calc(50% - 8px); bottom:120px;}
.pictogram .temperature .thermometer_state { display: inline-block; position: absolute; top: 200px; left: 13px; font-family: "Quicksand",sans-serif; font-size: 30px;}
.pictogram .temperature .thermometer_state #temperature_value {display: inline-block; margin-right: 5px;}

.pictogram .humidity {position: relative;}
.pictogram .humidity img {display: block; width: 220px; height: auto; margin-left: 90px; margin-top: 50px;}
.pictogram .humidity .humidity_state { display: inline-block; position: absolute; top: 100px; left: 13px; font-family: "Quicksand",sans-serif; font-size: 30px;}
.pictogram .humidity .humidity_state #humidity_value {display: inline-block; margin-right: 5px;}

.pictogram .temphumidity {position: relative;}
.pictogram .temphumidity img{display: block; width: 320px; height: auto; margin-left: 110px }
.pictogram .temphumidity .thermometer_state { display: inline-flex; position: absolute; top: 110px; left: 13px; font-family: "Quicksand",sans-serif; font-size: 30px;}
.pictogram .temphumidity .thermometer_state #thermometer_value {display: inline-block; margin-right: 5px;}
.pictogram .temphumidity .humidity_state { display: inline-flex; position: absolute; top: 160px; left: 13px; font-family: "Quicksand",sans-serif; font-size: 30px;}
.pictogram .temphumidity .humidity_state #humidity_value {display: inline-block; margin-right: 5px;}

.pictogram .depth_sensor {position: relative;}
.pictogram .depth_sensor img{display: block; width: 320px; height: auto; margin-left: 50px }
.pictogram .depth_sensor .depth_state { display: inline-flex; position: absolute; top: 90px; left: 13px; font-family: "Quicksand",sans-serif; font-size: 30px;}
.pictogram .depth_sensor .depth_state #depth_value {display: inline-block; margin-right: 5px;}
.pictogram .depth_sensor .depth_state { display: inline-flex; position: absolute; top: 120px; left: 13px; font-family: "Quicksand",sans-serif; font-size: 30px;}
.pictogram .depth_sensor .depth_state #depth_value {display: inline-block; margin-right: 5px;}

.pictogram .distance_sensor {position: relative;}
.pictogram .distance_sensor img{display: block; width: 320px; height: auto; margin-left: 0px }
.pictogram .distance_sensor .distance_state { display: inline-flex; position: absolute; top: 50px; left: 13px; font-family: "Quicksand",sans-serif; font-size: 30px;}
.pictogram .distance_sensor .distance_state #depth_value {display: inline-block; margin-right: 5px;}
.pictogram .distance_sensor .distance_state { display: inline-flex; position: absolute; top: 60px; left: 90px; font-family: "Quicksand",sans-serif; font-size: 30px;}
.pictogram .distance_sensor .distance_state #distance_value {display: inline-block; margin-right: 5px;}

/* ACCESS IDENTIFIERS */
#accessid-detail, #details {display: none;}
.row .info h2, .row .assignments h2 {margin-bottom: 15px;}
.row .info ul {width: 95%; margin: 2px 0 30px; }
.row .info ul li.row {width: 100%; padding: 1px 0; border-bottom: solid 1px #ddd; position: relative; line-height: 34px;}
.row .info ul li.row .col-xs-3, .row .info ul li.row .col-xs-9 {padding: 0px;}
.row .info ul li.row .col-xs-9 strong {margin-left: 6px;}
.row .info ul li.row .form-control {box-shadow: none; font-weight: 600; padding: 6px; color: #000} 

.row .info .form-control, .row .info .form-control + span .btn, .btn.btn-load {border-color: #FAFBFC; background: #FAFBFC;}
.row .info .form-control + span .btn {color: #FAFBFC}
.form-control, .form-control + span .btn {transition: all 0.4s; }
.row .info:hover .form-control, .row .info:hover .form-control + span .btn {background: #fff; border-color: #ccc; color: #000}
.row .info:hover .form-control:focus, .row .info:hover .form-control:active, .row .info:hover .form-control:focus + span .btn, .row .info:hover .form-control:active + span .btn, .row .info .form-control:focus, .row .info .form-control:focus + span .btn, .row .info:hover .btn:hover ~ .form-group input { border-color:#00D151; background: #fff; box-shadow:none; }
.row .info:hover .form-control:focus + span .btn, .row .info .form-control:focus + span .btn {background: #E2F4E8; color: #16bd34}
.row .info:hover .form-control:focus + span .btn:hover, .form-control:focus + span .btn:active { border-color:#00D151; background: #00D151; color: #fff;}
.row .info:hover .form-control + span .btn:active, .row .info:hover .form-control + span .btn:focus  {box-shadow: none; border-color:#00D151; background: #00D151; color: #fff;}
.last {border-radius: 0 4px 4px 0!important;}
.btn.btn-load, .btn.btn-load:hover, .btn.btn-load:active {background: #fff;border-color: #ccc;}
.btn.btn-load.btn-big, .btn.btn-load.btn-big:hover, .btn.btn-load.btn-big:active {height: 50px; width: 116px; text-align: center; padding: 15px 20px 0;}
.table-hover tbody tr td, .table-hover tbody tr th {transition: all 0.3s;}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th { background-color: #ebecef; }

.btn.btn-enable strong, .btn.btn-disable strong {font-size: 15px;}
.btn.btn-enable, .btn.btn-enable:active {background: #00D151; font-size: 11px; color: #fff; border: none;}
.btn.btn-disable, .btn.btn-disable:active {background: #FF3939; font-size: 11px; color: #fff; border: none;}
.btn.btn-edit{font-size: 15px; line-height: 36px;}
.btn.btn-edit:active, .btn.btn-edit:hover, .btn.btn-edit:focus {background: #fff;}

/* FULLSCREEN OVERLAY */

.overlay, .overlay-delete, .overlay-password, .overlay-apps { position: fixed!important; width: 100%!important; height: 100%!important; top: 0!important; left: 0!important; background: rgba(255,255,255,0.98); overflow-y: scroll; z-index: 100!important;}
.overlay .overlay-title { position: fixed; width: 100%; height: 100px; padding-top: 10px; background: rgba(255,255,255,0.95);text-align: center; z-index: 9999!important; }
.overlay-delete, .overlay-password {background: rgba(0,0,0,.85);}
.overlay h1, .overlay-delete h1, .overlay-apps h1 {text-transform: none}
.overlay .overlay-title h1 { font-size: 32px; line-height: 32px; margin-bottom: 10px; letter-spacing: -2px;}
.overlay .overlay-list { margin: 0 auto; padding: 120px 0 130px; width: 800px; overflow: auto; animation-name: fadeout-bottom; animation-duration: 0.5s; z-index: 101;}
.overlay .overlay-controls { position: fixed; bottom: 0px; left: 0px; width: 100%; height: 100px;  background: rgba(255,255,255,0.95); text-align: center; z-index: 102; padding: 5px;}
.overlay .overlay-controls .cancel, .overlay-delete .dialog .cancel, .infobar .buttons .back {display: inline-block; font-size: 14px; line-height: 90px; position: absolute; left: calc(50% - 130px); font-weight: 400; background-color: transparent; border: transparent;transition: all .2s ease-in-out; color: #000; text-transform: uppercase}
.overlay .overlay-controls .cancel:hover, .overlay-delete .dialog .cancel:hover, .infobar .buttons .back:hover, .overlay-delete .dialog .controls .cancel:hover {color: #00D151}
.infobar .buttons .back {position: absolute; left: 100px; margin-top: -7px; font-size: 46px;}
.overlay .overlay-controls .cancel:active, .overlay-delete .dialog .cancel:active, .infobar .buttons .back:active {transform: scale(0.95);}
.overlay-delete .dialog .cancel {position: absolute; left: calc(50% - 100px);}
.overlay .overlay-controls .save , .overlay-delete .dialog .controls .save, .infobar .buttons .save{display: inline-block; color: #00D151; background: transparent; border: none; font-size: 70px; line-height: 70px; transition: all .3s ease-in-out;}
.overlay .overlay-controls .save:active, .overlay-delete .dialog .controls .save:active, .infobar .buttons .save:active {transform: scale(0.95);}
.overlay-data { opacity: 0; visibility: hidden; webkit-transition: opacity 0.5s; transition: opacity 0.5s; visibility: 0s 0.5s; transition: opacity 0.5s, visibility 0s 0.5s;}
.overlay-open { opacity: 1; visibility: visible; -webkit-transition: opacity 0.5s; transition: opacity 0.5s;z-index: 100!important;}
.overlay.overlay-open .overlay-list, .overlay-delete.overlay-open .dialog  {animation-name: fadeIn-bottom; animation-duration: 0.4s; }
.overlay-delete {padding-top: 16%;}
.overlay-delete .dialog { display: block; text-align: center; max-width: 600px; margin: 0 auto; padding: 50px 30px 30px; border-radius: 4px; background: #fff; animation-name: fadeout-bottom; animation-duration: 0.5s; box-shadow: 0 4px 4px rgba(0,0,0,0.8);}
.overlay-delete .dialog p {display: inline-block; max-width: 400px; margin: 16px auto;}
.overlay-delete .dialog .controls {position: relative; width: 100%; margin-top: 10px;}
.overlay-delete .dialog .controls .save {color: #FF3939}
.overlay-delete .dialog .controls .save.green {color: #00D151}
.overlay-delete .dialog .controls .cancel {font-family: 'Open Sans', sans-serif; font-weight: 400; color: rgba(0,0,0,0.8);}
.overlay-delete .dialog .password-form {max-width: 400px; margin: 40px auto 20px; text-align: left;}
.api-settings .overlay-delete .dialog .password-form {max-width: 400px;}
.overlay-delete .dialog .password-form input[type="password"] {margin-top: 10px; font-size: 15px; line-height: 26px; font-weight: 400; color: #000; text-align: left; border: 1px solid #d8d8d8; padding: 4px; border-radius: 3px; transition: all 0.3s ease 0s; box-shadow: none!important}
.overlay-delete .dialog .password-form input[type="password"]:hover, .overlay-delete .dialog .password-form input[type="password"]:focus {border: solid 1px #00D151; }
.overlay-delete .dialog .password-form label, .restapi-wrapper .restapi label {font-weight: 400; font-size: 12px; transition: all 0.3s ease 0s;}
.overlay-delete .dialog .password-form input[type="password"]:focus + label, .restapi-wrapper .restapi .input-group:hover + label {color: #00D151;}
.overlay .attention {background: #FFE836; text-align: center; max-width: 500px; border-radius: 3px; padding: 10px 36px 15px; margin: 20% auto 0;}
.overlay .attention i {font-size: 80px;}
.overlay .attention p a {color: #000; font-weight: 600}

.overlay .row .col-xs-4 {min-height: 175px;}
.overlay label { position:relative; cursor:pointer; transition: all .1s ease-in-out;}
.overlay label:active {transform: scale(0.98);}
.overlay label [type="checkbox"] {position: absolute; bottom: 10px; left: 10px; display: none;}
.overlay [type="checkbox"] + div.item { display:inline-block; width: 100%; height: 170px; padding: 5px 10px; background: #ebecef; border-radius: 3px; font-size: 13px; border: solid 2px transparent; cursor: pointer; transition: all .2s ease-in-out; margin-bottom: 4px;position: relative;	box-shadow: 0 1px 2px rgba(0,0,0,.2);}
.overlay [type="checkbox"] + div.item:hover { margin-top: -6px; box-shadow: 0 4px 3px rgba(0,0,0,.6);}
.overlay [type="checkbox"] + div.item.enabled {color: #fff; background: #00D151;}
.overlay :checked + div.item{ border: solid 2px #000}
.overlay :checked + div.item:after, .scroll_list .item.selected:after, .location-info .item:after {content:''; position: absolute; width: 52px; height: 52px; background: url(/assets/img/checked.svg); top: -1px; right: -1px;border-top-right-radius: 3px;transition: all .2s ease-in-out;-webkit-animation-duration: 0.5s; animation-duration: 0.5s; -webkit-animation-fill-mode: both;animation-fill-mode: both;animation-name: fadeIn; animation-delay: 0s;}


/* TOOLTIP */
.tooltipster-default {border-radius: 5px; border: none;background: rgba(0,0,0,0.7);box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);}
.tooltipster-default .tooltipster-content {font-family: 'Open Sans', sans-serif;font-size: 12px;line-height: 19px;padding: 8px 8px;overflow: hidden;}
.tooltipster-default .tooltipster-content a.details {display: block;position: relative;padding: 5px 10px;min-height: 180px;background: #ebecef;color: #000;border-radius: 3px;font-size: 13px;list-style-type: none;margin: 0;cursor: pointer;width: 250px;transition: all .2s ease-in-out;}
.tooltipster-default .tooltipster-content a.details:active { transform: scale(0.95); }
.tooltipster-default .tooltipster-content a.details span.id {font-family: "Quicksand",sans-serif;font-size: 36px;line-height: 40px;font-weight: 300;letter-spacing: -3px;}
.tooltipster-default .tooltipster-content a.details.device span.id {font-size: 24px;line-height: 28px;letter-spacing: -1px;}
.tooltipster-default .tooltipster-content a.details span.id strong { font-weight: 400; }
.tooltipster-default .tooltipster-content a.details span.guid {font-size: 12px; margin-top: 5px; display: inline-block; width: 100%;}
.tooltipster-default .tooltipster-content a.details .details-wrapper {margin-top: 5px;font-size: 13px;line-height: 20px;}
.tooltipster-default .tooltipster-content a.details.enabled {background: #00D151;color: #fff;}
.tooltipster-base {padding: 0;font-size: 0;line-height: 0;position: absolute;left: 0;top: 0;z-index: 9999999;pointer-events: none;width: auto;overflow: visible;}
.tooltipster-base .tooltipster-content {overflow: hidden;}
.tooltipster-arrow {display: block;text-align: center;width: 100%;height: 100%;position: absolute;top: 0;left: 0;z-index: -1;}
.tooltipster-arrow span, .tooltipster-arrow-border {display: block;width: 0; height: 0;position: absolute;}
.tooltipster-arrow-top span, .tooltipster-arrow-top-right span, .tooltipster-arrow-top-left span {border-left: 8px solid transparent !important;border-right: 8px solid transparent !important;border-top: 8px solid;bottom: -7px;}
.tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-top-left .tooltipster-arrow-border {border-left: 9px solid transparent !important;border-right: 9px solid transparent !important;border-top: 9px solid;bottom: -7px;}
.tooltipster-arrow-bottom span, .tooltipster-arrow-bottom-right span, .tooltipster-arrow-bottom-left span {border-left: 8px solid transparent !important;border-right: 8px solid transparent !important;border-bottom: 8px solid;top: -7px;}
.tooltipster-arrow-bottom .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {border-left: 9px solid transparent !important;border-right: 9px solid transparent !important;border-bottom: 9px solid;top: -7px;}
.tooltipster-arrow-top span, .tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-bottom span, .tooltipster-arrow-bottom .tooltipster-arrow-border {left: 0;right: 0;margin: 0 auto;}
.tooltipster-arrow-top-left span, .tooltipster-arrow-bottom-left span {left: 6px;}
.tooltipster-arrow-top-left .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {left: 5px;}
.tooltipster-arrow-top-right span,  .tooltipster-arrow-bottom-right span {right: 6px;}
.tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border {right: 5px;}
.tooltipster-arrow-left span, .tooltipster-arrow-left .tooltipster-arrow-border {border-top: 8px solid transparent !important;border-bottom: 8px solid transparent !important; border-left: 8px solid;top: 50%;margin-top: -7px;right: -7px;}
.tooltipster-arrow-left .tooltipster-arrow-border {border-top: 9px solid transparent !important;border-bottom: 9px solid transparent !important; border-left: 9px solid;margin-top: -8px;}
.tooltipster-arrow-right span, .tooltipster-arrow-right .tooltipster-arrow-border {border-top: 8px solid transparent !important;border-bottom: 8px solid transparent !important; border-right: 8px solid;top: 50%;margin-top: -7px;left: -7px;}
.tooltipster-arrow-right .tooltipster-arrow-border {border-top: 9px solid transparent !important;border-bottom: 9px solid transparent !important; border-right: 9px solid;margin-top: -8px;}
.tooltipster-fade {opacity: 0;-webkit-transition-property: opacity;-moz-transition-property: opacity;-o-transition-property: opacity;-ms-transition-property: opacity;transition-property: opacity;}
.tooltipster-fade-show {opacity: 1;}


/* HELP PANEL */
h1 .cd-btn { font-size: 25px; position: absolute; bottom: -6px; margin-left: 8px; color: rgba(0,0,0,0.55)}
h1 .cd-btn:hover {color: #27CF46}
.cd-panel {position: fixed!important; top: 0; left: 0; height: 100%; width: 100%; visibility: hidden; -webkit-transition: visibility 0s 0.6s, background 1s ease-in-out; -moz-transition: visibility 0s 0.6s, background 1s ease-in-out; transition: visibility 0s 0.6s, background 1s ease-in-out; z-index: 101;background: rgba(0,0,0,0);}
.cd-panel.is-visible {visibility: visible; -webkit-transition: visibility 0s 0s, background 1s ease-in-out;-moz-transition: visibility 0s 0s, background 1s ease-in-out;transition: visibility 0s 0s, background 1s ease-in-out;background: rgba(0,0,0,0.4);}
.cd-panel-container {position: fixed!important; float: left; width: 420px; height: 100%; min-height: 100%; top: 0; background: #FFE838; color: #000; z-index: 1;-webkit-transition-property: -webkit-transform; -moz-transition-property: -moz-transform;transition-property: transform;-webkit-transition-duration: 0.3s;-moz-transition-duration: 0.3s;transition-duration: 0.3s; -webkit-transition-delay: 0.3s;-moz-transition-delay: 0.3s;transition-delay: 0.3s;box-shadow: 0 4px 4px rgba(0,0,0,0.8); overflow: hidden;}
.from-left .cd-panel-container {left: 0; -webkit-transform: translate3d(-100%, 0, 0); -moz-transform: translate3d(-100%, 0, 0);-ms-transform: translate3d(-100%, 0, 0);-o-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0);}
.is-visible .cd-panel-container {-webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0); -webkit-transition-delay: 0s; -moz-transition-delay: 0s; transition-delay: 0s;}
.cd-panel-content {position: absolute; top: 0;left: 0;height: 100%;width: 100%;padding: 50px 0 30px;overflow: scroll;-webkit-overflow-scrolling: touch; line-height: 20px; font-size: 13px;}
.cd-panel-content h1 {margin: 0 30px 30px; line-height: 46px}
.cd-panel-content p { margin: 0 30px 15px; line-height: 23px; color: #000; text-align: justify;}
.cd-panel-content a {color: #000; font-weight: 600;}


/* ANIMATIONS */
.animated {-webkit-animation-duration: 0.7s;animation-duration: 0.7s;-webkit-animation-fill-mode: both;animation-fill-mode: both;}
@keyframes fadeIn-bottom {
    0% { opacity: 0.2; margin-top: 30px;}
	70% {margin-top: 0px;}
    100% {opacity: 1; }
}
@keyframes fadeout-bottom {
    0% {opacity: 1; margin-top: 0px;}
	70% {opacity: 0.2;}
	100% {margin-top: 30px; }
}

@-webkit-keyframes fadeIn {
  from { opacity: 0;}
  to {opacity: 1;z-index: 10;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to { opacity: 1;z-index: 10;}
}
@-webkit-keyframes fadeInDown {
  from {opacity: 0;-webkit-transform: translate3d(0, -100%, 0);transform: translate3d(0, -100%, 0);}
  to {opacity: 1;-webkit-transform: none;transform: none; z-index: 2;}
}
@keyframes fadeInDown {
  from {opacity: 0;-webkit-transform: translate3d(0, -100%, 0);transform: translate3d(0, -100%, 0);}
  to {opacity: 1;-webkit-transform: none;transform: none; z-index: 2;}
}
@-webkit-keyframes fadeInUp {
  from {opacity: 0;-webkit-transform: translate3d(0, 100%, 0);transform: translate3d(0, 100%, 0);}
  to {opacity: 1;-webkit-transform: none;transform: none; z-index: 2;}
}
@keyframes fadeInUp {
  from {opacity: 0;-webkit-transform: translate3d(0, 100%, 0);transform: translate3d(0, 50%, 0);}
  to {opacity: 1;-webkit-transform: none;transform: none; z-index: 2;}
}
@-webkit-keyframes fadeInUpSmall {
  from {opacity: 0;-webkit-transform: translate3d(0, 100%, 0);transform: translate3d(0, 100%, 0);}
  to {opacity: 1;-webkit-transform: none;transform: none; z-index: 2;}
}
@keyframes fadeInUpSmall {
  from {opacity: 0;-webkit-transform: translate3d(0, 100%, 0);transform: translate3d(0, 10%, 0);}
  to {opacity: 1;-webkit-transform: none;transform: none; z-index: 2;}
}

/* SPINNER */
.gmb-loader {font-size: 0; display: block; position: relative; height: 120px; width: 120px; margin: 100px auto; }
.gmb-loader div { background: none; border: solid 2px #000; width: 25px; height: 25px; border-radius: 30px; position: absolute; -webkit-animation: gmb-bounce 1.75s infinite; animation: gmb-bounce 1.75s infinite; top: 50%; margin-top: -15px; }
.gmb-loader div:nth-child(2) { -webkit-animation-delay: 0.25s; animation-delay: 0.25s; left: 50%; margin-left: -15px; }
.gmb-loader div:nth-child(3) { -webkit-animation-delay: 0.5s; animation-delay: 0.5s; right: 0; }

@-webkit-keyframes gmb-bounce {
  10% { -webkit-transform: translate3d(0, 30px, 0); transform: translate3d(0, 30px, 0); -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1); animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1); height: 30px;}
  14% { height: 90px; }
  15% { height: 30px; -webkit-transform: translate3d(0, -60px, 0); transform: translate3d(0, -60px, 0); -webkit-animation-timing-function: cubic-bezier(0.8, 0, 0.8, 1); animation-timing-function: cubic-bezier(0.8, 0, 0.8, 1); }
  35% { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
}

@keyframes gmb-bounce {
  10% { -webkit-transform: translate3d(0, 30px, 0); transform: translate3d(0, 30px, 0); -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1); animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1); height: 30px; }
  14% { height: 90px; }
  15% { height: 30px; -webkit-transform: translate3d(0, -60px, 0); transform: translate3d(0, -60px, 0);  -webkit-animation-timing-function: cubic-bezier(0.8, 0, 0.8, 1); animation-timing-function: cubic-bezier(0.8, 0, 0.8, 1); }
  35% { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
}

.dropdown-menu {z-index: 9999!important; -webkit-animation-duration: 0.3s;animation-duration: 0.3s; animation-name: fadeInUpSmall; animation-delay: 0s; }

/* LOGOUT ANIMATION */
#tv-box {-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;height: 100%;border-color:black;border-style:solid;border-width:0;display:block;position:absolute;top:0;left: 0;right: 0;bottom: 0;opacity:0;z-index:1001;}
#body-wrap {text-indent: 1;z-index:1000;-webkit-transform-origin:100% 0;-moz-transform-origin:100% 0;-ms-transform-origin:100% 0;-o-transform-origin:100% 0;transform-origin:100% 0;-webkit-transition: all 2s linear;-moz-transition: all 2s linear;-ms-transition: all 2s linear;-o-transition: all 2s linear;transition: all 2s linear;}

/* RESTFUL */
body.api-settings, body.account {background-color: #00D151;transition: background .4s ease-in-out;}
body.api-settings .navbar-default, body.account .navbar-default  {background-color: #00D151; border-bottom: solid 1px rgba(255,255,255,0.6);transition: background .4s ease-in-out,  border-bottom .4s ease-in-out;}
body.api-settings .navbar-default .navbar-nav > li > a, body.account .navbar-default .navbar-nav > li > a {color: #fff;}
body.api-settings ul.navbar-center li.pull-left svg .this, body.account ul.navbar-center li.pull-left svg .this {fill: #fff!important;}
body.api-settings .navbar-default .navbar-nav > li > a:hover, body.account .navbar-default .navbar-nav > li > a:hover {backgound-color: #00D151}
body.api-settings .navbar-default .navbar-nav > li > a:hover, body.api-settings .navbar-default .navbar-nav > li > a:focus, body.api-settings .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, body.api-settings .navbar-default .navbar-nav > .open > a:focus, 
body.account .navbar-default .navbar-nav > li > a:hover, body.account .navbar-default .navbar-nav > li > a:focus, body.account .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, body.account .navbar-default .navbar-nav > .open > a:focus {
    background-color: rgba(255,255,255,.2); color: #fff!important
}
body.account .navbar-default .navbar-header a, body.api-settings .navbar-default .navbar-header a { color: white; fill: white; }


.restapi {margin: 30px 0;}
.restapi h2 {color: #fff; margin: 5px 0;-webkit-animation-duration: 0.5s; animation-duration: 0.5s; -webkit-animation-fill-mode: both;animation-fill-mode: both;animation-name: fadeIn; animation-delay: 1s;}
.restapi p {margin-bottom: 20px; color: rgba(255,255,255,.85); -webkit-animation-duration: 0.5s; animation-duration: 0.5s; -webkit-animation-fill-mode: both;animation-fill-mode: both;animation-name: fadeIn; animation-delay: 1.2s;}
.restapi .input-group {border-bottom: solid 1px rgba(255,255,255,0); margin: 6px 0 2px; padding-bottom: 2px;-webkit-animation-duration: 0.5s; animation-duration: 0.5s; -webkit-animation-fill-mode: both;animation-fill-mode: both;animation-name: fadeIn;animation-delay: 1.5s;}
.restapi input.form-control {background: rgba(255,255,255,0.00); border: solid 1px rgba(255,255,255,0.00); box-shadow: none; padding: 0px; line-height: 30px; color: #fff; height: 30px;font-weight: 600!important;}
.restapi label {color: rgba(255,255,255,.85)!important;-webkit-animation-duration: 0.5s; animation-duration: 0.5s; -webkit-animation-fill-mode: both;animation-fill-mode: both;animation-name: fadeIn;animation-delay: 1.5s;}
.restapi .btn.btn-default.copy, .restapi .btn.btn-default#overlay-delete {text-transform: uppercase; font-weight: 400; font-size: 12px; background-color: #fff; border-radius: 3px; border: none; color: #00D151; line-height:30px; height: 30px; padding: 0 8px; opacity: 0;}
.restapi:hover .btn.btn-default.copy, .restapi:hover .btn.btn-default#overlay-delete {opacity: 1}
.restapi input.form-control::selection {background: #FFE836; color: #000;}
.restapi input.form-control::-moz-selection {background: #FFE836; color: #000;}

/* ACCOUNT */
body.account .navbar-default {margin-bottom: 0px}
body.account .main-content svg {display: block; width: 100%; max-width: 600px; height: auto; margin: 0 auto;}
body.account svg .st1x {-webkit-animation: fill 1s;
	       -moz-animation: fill 1s forwards;
	        -ms-animation: fill 1s forwards;
	         -o-animation: fill 1s forwards;
	            animation: fill 1s forwards;
	   animation-delay: 1.5s;
	   -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    	   animation-fill-mode: forwards;}
body.account svg .st4x {-webkit-animation: fill2 1s;
	       -moz-animation: fill2 1s forwards;
	        -ms-animation: fill2 1s forwards;
	         -o-animation: fill2 1s forwards;
	            animation: fill2 1s forwards;
	   animation-delay: 1.8s;
	   -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    	   animation-fill-mode: forwards;}
@keyframes fill {
	    0% { fill:rgba(255,255,255,0); }
	    100% { fill: #FAFBFC; }
	}
	
	@-moz-keyframes fill {
	    0% { fill:rgba(255,255,255,0); }
	    100% { fill: #FAFBFC; }
	}
	
	@-webkit-keyframes fill {
	     0% { fill:rgba(255,255,255,0); }
	    100% { fill: #FAFBFC; }
	}
	
	@-ms-keyframes fill {
	     0% { fill:rgba(255,255,255,0); }
	    100% { fill: #FAFBFC; }
	}
	@-o-keyframes fill {
	     0% { fill:rgba(255,255,255,0); }
	    100% { fill: #FAFBFC; }
	}
@keyframes fill2 {
	    0% { fill:rgba(255,255,255,0); }
	    100% { fill: #000; }
	}
	
	@-moz-keyframes fill2 {
	    0% { fill:rgba(255,255,255,0); }
	    100% { fill: #000; }
	}
	
	@-webkit-keyframes fill2 {
	     0% { fill:rgba(255,255,255,0); }
	    100% { fill: #000; }
	}

	@-o-keyframes fill2 {
	     0% { fill:rgba(255,255,255,0); }
	    100% { fill: #000; }
	}
span.supla-member {position: absolute; top: 302px; left: calc(50% - 266px); display: inline-block;font-family: 'Quicksand', sans-serif;font-size: 15px; font-weight: 400; color:#fff;-webkit-animation-duration: 0.5s; animation-duration: 0.5s; -webkit-animation-fill-mode: both;animation-fill-mode: both;animation-name: fadeIn; animation-delay: 2s;}
div.user-account {position: absolute; top: 332px; left: calc(50% - 250px); width: 500px}
div.user-account h1 {display: inline-block; text-transform: none; border-bottom: solid 1px rgba(0,0,0,.2); line-height: 80px;-webkit-animation-duration: 0.5s; animation-duration: 0.5s; -webkit-animation-fill-mode: both;animation-fill-mode: both;animation-name: fadeIn; animation-delay: 1.8s; width: 100%;text-overflow: ellipsis;white-space: nowrap; overflow: hidden; font-size: 36px; line-height: 64px;}

div.user-account dl {-webkit-animation-duration: 0.5s; animation-duration: 0.5s; -webkit-animation-fill-mode: both;animation-fill-mode: both;animation-name: fadeIn; animation-delay: 2.2s;}
div.user-account dt {float: left; clear: left; width: 170px; line-height: 25px; font-weight: 400;}
div.user-account dd { margin: 0 0 0 180px;line-height: 25px;color: #00D151}
div.user-account span.version-info {display: inline-block; width: 100%; margin-top: 80px; color: rgba(255,255,255,.8); font-size: 12px; text-align:center;-webkit-animation-duration: 0.5s; animation-duration: 0.5s; -webkit-animation-fill-mode: both;animation-fill-mode: both;animation-name: fadeIn; animation-delay: 2.4s;z-index: 1;}
div.user-account dt a {display: inline-block; padding: 0 5px; border: solid 1px #00D151; border-radius: 3px; margin-top: 7px;}
div.user-account dt a:hover {background: #00D151; color: #fff;}

/* RESTAPI */
.restapi-wrapper {width: 980px; margin: 0 auto;}
.restapi-wrapper .restapi { width: 480px; position: absolute; top: 40px; left: 130px;}
.restapi-wrapper .restapi p a {color: #fff}
.restapi-wrapper .terminal {position: absolute; top: 108px; left: 515px; display: block; width: 388px; height: 348px;color: #00D151;font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; font-size: 16px; padding: 10px}
.typed-cursor {display: none}
.api-settings .st2x {-webkit-animation: fill2 1s;
	       -moz-animation: fill2 1s forwards;
	        -ms-animation: fill2 1s forwards;
	         -o-animation: fill2 1s forwards;
	            animation: fill2 1s forwards;
	   animation-delay: 2.3s;
	   -webkit-animation-fill-mode: forwards;
    	   animation-fill-mode: forwards;}
.restapi-wrapper .btn.btn-enable {border: solid 1px rgba(255,255,255,.5)}
.restapi-wrapper .btn {
    border: solid 1px rgba(255,255,255,.5);-webkit-animation-duration: 0.5s; animation-duration: 0.5s; -webkit-animation-fill-mode: both;animation-fill-mode: both;animation-name: fadeIn; 
}
