{% extends 'SuplaBundle::empty-layout.html.twig' %}

{% block body %}
    <div class="vue-container">
        <navbar></navbar>
        <transition name="fade-router">
            <router-view></router-view>
        </transition>
        {% if app.user and not app.debug %}
            <idle-logout></idle-logout>
        {% endif %}
    </div>
{% endblock %}
