<div class="form-group form-group-lg" v-schedule-chooser-minutely>
    <label>{{ 'Interval'|trans }}</label>
    <div class="input-group">
        <span class="input-group-addon">{{ 'Every'|trans }}</span>
        <input type="number" class="form-control" step="5" min="5" max="30" maxlength="2">
        <span class="input-group-addon">{{ 'minutes'|trans }}</span>
    </div>
</div>
