<div class="row" v-schedule-chooser-daily>
    <div class="col-md-6">
        <div class="form-group">
            <label>Godzina</label>
            <div class="input-group clockpicker" data-autoclose="true" data-default="now">
                <input type="text" class="form-control">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>Dni tygodnia</label>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="1"> Poniedziałki
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="2"> Wtorki
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="3"> Środy
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="4"> Czwartki
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="5"> Piątki
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="6"> Soboty
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="7"> Niedziele
                </label>
            </div>
        </div>
    </div>
</div>
