<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Godzina</label>
            <div class="timepicker"></div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>Dni tygodnia</label>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Poniedziałki
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Wtorki
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Środy
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Czwartki
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Piątki
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Soboty
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Niedziele
                </label>
            </div>
        </div>
    </div>
</div>
