<h1>Localizações</h1>

<p>Afim de ligar um dispositivo de entrada/saída ao sistema, é preciso introduzir nas configurações dele um identificador da localização e uma senha para autorizar. Assim o dispositivo torna-se uma parte do grupo situado dentro da localização definida pelo utente. A área abrangida por uma localização depende só de si. As localizações particulares devem ser associadas aos <strong>Identificadores do Acesso</strong> selecionados. Isso permite definir as competências, ou seja, as localizações às quais um utente tem acesso.<br /><br />Pode desligar ou ligar a localização em qualquer momento. Os dispositivos que funcionarão dentro da localização serão visíveis ou não.<br /><br /><strong>Alterar a senha requer introduzi-la novamente nos dispositivos funcionando dentro da localização modificada.</strong><br /><br />A denominação da localização é ao mesmo tempo o nome dela e pode ser alterada em qualquer momento. As novas configurações são introduzidas automaticamente nas aplicações dos clientes instaladas nos smartphones e tablets. 
<br /><br /><strong>Apagar uma localização requer suprimir anteriormente todos os dispositivos de entrada/saída ligados à localização suprimida.</strong><br /><br />

Exemplos das localizações:<br />
- Casa, Empresa, Jardim<br />
- Dormitório, Casa de banho, Cozinha, Corredor<br />
- Atendimento ao público, Serviço, Contabilidade<br />
- Garagem 1, Garagem 2<br /><br /><br /><br /><br />
</p>