{% extends 'SuplaBundle::layout.html.twig' %}
{% block content %}
    <div class="container margin-top-30">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="title">
                    {% trans %}Create New Schedule{% endtrans %}
                </h1>
            </div>
        </div>
        <div class="row margin-top-20" id="schedule-form">
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('assets/dist/commons.js', 'webpack') }}"></script>
    <script src="{{ asset('assets/dist/schedule-form.js', 'webpack') }}"></script>
{% endblock %}
