{% extends 'SuplaBundle::layout.html.twig' %}
{% block content %}
    <div class="container margin-top-30">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="title">
                    {% trans %}Schedules{% endtrans %}
                </h1>
            </div>
        </div>
        <div id="schedule-list"></div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('assets/dist/schedule-list.js', 'webpack') }}"></script>
{% endblock %}
