{% extends 'SuplaBundle::layout.html.twig' %}
{% block content %}
    <div class="container margin-top-30">
        <div class="row">
            <div class="col-xs-12">

                {% if not app.user.isLimitScheduleExceeded %}
                    <a class="btn btn-success pull-right btn-lg"
                            href="{{ path('_schedule_new') }}">
                        <i class="pe-7s-plus"></i>
                        {% trans %}Create New Schedule{% endtrans %}</a>
                {% endif %}
                <h1 class="pull-left no-margin-top">
                    {% trans %}Schedules{% endtrans %}
                </h1>
            </div>
        </div>
        <div id="schedule-list"></div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('assets/dist/schedule-list.js', 'webpack') }}"></script>
{% endblock %}
