{% extends 'SuplaBundle::mobile-first-layout.html.twig' %}

{% set page_title = schedule is defined ? 'Edit schedule'|trans ~ ' ID' ~ schedule.id : 'Create New Schedule'|trans %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>
                    {% if schedule is defined %}
                        {% trans %}Edit schedule{% endtrans %} ID{{ schedule.id }}
                        {% if schedule.caption %}
                            <span class="small">{{ schedule.caption }}</span>
                        {% endif %}
                    {% else %}
                        {% trans %}Create New Schedule{% endtrans %}
                    {% endif %}
                </h1>
            </div>
        </div>
        <schedule-form{% if schedule is defined %} schedule-id="{{ schedule.id }}"{% endif %}
                {% if channelId %} channel-id="{{ channelId }}"{% endif %}></schedule-form>
    </div>
{% endblock %}
