{% extends 'SuplaBundle::empty-layout.html.twig' %}
{% block content %}
    <div id="login-page">
        <router-view></router-view>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ asset('assets/dist/login-page.js', 'webpack') }}"></script>
{% endblock %}
