{% extends 'SuplaBundle::empty-layout.html.twig' %}
{% block body %}
    {% include 'SuplaBundle:Dialogs:flashmsgs.html.twig' %}
    <div id="login-page"
            last-username="{{ last_username }}"
            error="{{ error }}"
            version="{{ version }}">
        <div id="login-page-preloader">
            {% include "@Supla/supla-logo-svg.html.twig" %}
            <h3>
                {% trans %}Loading{% endtrans %}...
            </h3>
            <noscript>
                <h3>{% trans %}SUPLA-Cloud will not work without Javascript{% endtrans %}</h3>
            </noscript>
            <p class="if-too-long text-muted">
                {% trans %}if it takes too long, check if the JS scripts are loaded correctly{% endtrans %}
            </p>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ asset('assets/dist/login-page.js', 'webpack') }}"></script>
    <script>
        setTimeout(function () {
            var preloader = document.getElementById('login-page-preloader');
            if (preloader) {
                preloader.className = 'too-long';
            }
        }, 5000);
    </script>
{% endblock %}
{% block styles %}
    <style>
        #login-page-preloader {
            width: 350px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -175px;
            margin-top: -150px;
            text-align: center;
            font-family: 'Quicksand', sans-serif;
        }

        #login-page-preloader svg {
            width: 200px;
            height: 200px;
        }

        #login-page-preloader .if-too-long {
            display: none;
        }

        #login-page-preloader.too-long .if-too-long {
            display: inline;
        }

        #login-page-preloader noscript {
            color: #F60;
        }
    </style>
{% endblock %}
