.btn {
  transition: all .2s;
  &-green {
    background: $supla-green;
    color: $supla-white;
    border: 1px $supla-green solid !important;
    border-radius: 2px !important;
    &:hover {
      background: darken($supla-green, 5%);
      color: $supla-white !important;
    }
    &.active, &:focus {
      background: darken($supla-green, 5%) !important;
      color: $supla-white;
    }
  }
  &-white, &-default {
    background: $supla-white;
    color: $supla-green;
    border: 1px solid $supla-green;
    &:hover, &:focus, &:active {
      border: 1px solid $supla-green;
      background: darken($supla-white, 5%);
    }
  }
  &-black {
    background: $supla-black;
    outline-color: $supla-black !important;
    color: $supla-white;
    border: 1px solid $supla-black;
    &:hover {
      background: lighten($supla-black, 10%);
      color: $supla-white;
    }
  }
  &-grey {
    background: $supla-grey-light;
    outline-color: $supla-grey-dark !important;
    color: $supla-black;
    border: 1px solid $supla-grey-dark;
    &:hover {
      background: darken($supla-grey-light, 5%);
    }
  }
  &-yellow {
    background: $supla-yellow;
    color: $supla-black;
    border: 1px solid $supla-yellow;
  }
  &-red, &-danger {
    background: $supla-red;
    color: $supla-white;
    border: 1px solid $supla-red;
  }
  &-orange {
    background: $supla-orange;
    border: 1px solid $supla-orange;
    outline-color: $supla-orange !important;
    color: $supla-white;
    &:hover {
      background: $supla-orange;
      color: $supla-white;
    }
  }
  &-outline {
    background: transparent;
    &.btn-green {
      color: $supla-green;
    }
    &.btn-orange {
      color: $supla-orange;
      &:hover {
        color: $supla-white !important;
      }
    }
    &.btn-black {
      color: $supla-black;
      &:hover {
        color: $supla-white;
        background: lighten($supla-black, 30%);
      }
      &.active {
        background: lighten($supla-black, 10%);
        color: $supla-white;
      }
    }
  }
  &-wrapped {
    white-space: normal !important;
  }
  .text-muted {
    color: inherit;
    opacity: .8;
  }
  &.active {
    box-shadow: none;
  }
}

.btn-toolbar {
  .btn { margin-bottom: 5px; }
  @include on-xs-and-down {
    text-align: center;
    .btn {
      float: initial;
    }
  }
}
