.btn {
  &-green {
    background: $supla-green;
    color: $supla-white;
    border: 1px $supla-green solid !important;
    border-radius: 2px !important;
    &:hover {
      background: darken($supla-green, 5%);
      color: $supla-white !important;

    }
  }
  .text-muted {
    color: inherit;
    opacity: .8;
  }
  &-white {
    background: $supla-white;
    color: $supla-green;
    border: 1px solid $supla-green !important;
    &:hover, &:focus, &:active {
      background: darken($supla-white, 5%);
    }
  }
  &-black {
    background: $supla-black;
    outline-color: $supla-black !important;
    color: $supla-white;
    border: 1px solid $supla-black;
    &:hover {
      background: lighten($supla-black, 10%);
      color: $supla-white;
    }
  }
  &-grey {
    background: $supla-grey-light;
    outline-color: $supla-grey-dark !important;
    color: $supla-black;
    border: 1px solid $supla-grey-dark;
    &:hover {
      background: darken($supla-grey-light, 5%);
    }
  }
  &-yellow {
    background: $supla-yellow;
    color: $supla-black;
    border: 1px solid $supla-yellow;
  }
  &-orange {
    background: $supla-orange;
    border: 1px solid $supla-orange;
    &:hover {
      background: $supla-orange;
      color: $supla-white;
    }
  }
  &-outline {
    background: transparent;
    &.btn-green {
      color: $supla-green;
    }
    &.btn-orange {
      color: $supla-orange;
      &:hover {
        color: $supla-white !important;
      }
    }
    &.btn-black {
      color: $supla-black;
      &:hover {
        color: $supla-white;
        background: lighten($supla-black, 30%);
      }
      &.active {
        background: lighten($supla-black, 10%);
        color: $supla-white;
      }
    }
  }
}
