.btn {
  transition: all .2s;
  &-green {
    background: $supla-green;
    color: $supla-white;
    border: 1px $supla-green solid !important;
    &:hover {
      background: darken($supla-green, 5%);
      color: $supla-white !important;
    }
    &.active, &:focus {
      background: darken($supla-green, 5%) !important;
      color: $supla-white;
    }
  }
  &-white, &-default {
    background: $supla-white;
    color: $supla-green;
    border: 1px solid $supla-green;
    &:hover, &:focus, &:active {
      border: 1px solid $supla-green;
      background: darken($supla-white, 5%);
    }
    &[disabled], &[disabled]:hover {
      border-color: $supla-grey-dark;
      background-color: $supla-white;
      color: $supla-grey-dark;
    }
  }
  &-black {
    background: $supla-black;
    outline-color: $supla-black !important;
    color: $supla-white;
    border: 1px solid $supla-black;
    &:hover {
      background: lighten($supla-black, 10%);
      color: $supla-white;
    }
  }
  &-grey {
    background: $supla-grey-light;
    outline-color: $supla-grey-dark !important;
    color: $supla-black;
    border: 1px solid $supla-grey-dark;
    &:hover {
      background: darken($supla-grey-light, 5%);
    }
    &[disabled], &[disabled]:hover {
      border-color: $supla-grey-dark;
      background-color: $supla-white;
      color: $supla-grey-dark;
    }
  }
  &-yellow {
    background: $supla-yellow;
    color: $supla-black;
    border: 1px solid $supla-yellow;
    outline-color: $supla-yellow !important;
  }
  &-red, &-danger {
    background: $supla-red;
    color: darken($supla-white, 5%);
    border: 1px solid $supla-red;
    &:hover {
      color: $supla-white;
      background: darken($supla-red, 5%);
    }
    &-outline {
      border: 1px solid $supla-red;
      background: $supla-white;
      color: $supla-red;
      &:hover {
        background: $supla-red;
        color: $supla-white;
      }
    }
  }
  &-orange {
    background: $supla-orange;
    border: 1px solid $supla-orange;
    outline-color: $supla-orange !important;
    color: $supla-white;
    &:hover {
      background: $supla-orange;
      color: $supla-white;
    }
  }
  &-blue {
    background: $supla-blue;
    border: 1px solid $supla-blue;
    outline-color: $supla-blue !important;
    color: $supla-white;
    &:hover {
      background: $supla-blue;
      color: $supla-white;
    }
  }
  &-link {
    color: $supla-green;
    &:hover {
      color: $supla-green;
    }
  }
  &-outline {
    background: transparent;
    &.btn-green {
      color: $supla-green;
    }
    &.btn-orange {
      color: $supla-orange;
      &:hover {
        color: $supla-white !important;
      }
    }
    &.btn-black {
      color: $supla-black;
      &:hover {
        color: $supla-white;
        background: lighten($supla-black, 30%);
      }
      &.active {
        background: lighten($supla-black, 10%);
        color: $supla-white;
      }
    }
  }
  &-wrapped {
    white-space: normal !important;
  }
  .text-muted {
    color: inherit;
    opacity: .8;
  }
  &.active {
    box-shadow: none;
  }
  // FA icons
  > svg:first-child {
    margin-right: .3em;
  }
  > svg:last-child {
    margin-left: .3em;
  }
}

.btn-toolbar {
  .btn {
    margin-bottom: 5px;
  }
  @include on-xs-and-down {
    text-align: center;
    .btn {
      float: initial;
    }
  }
}

.btn-filters {
  display: inline-block;
}

.btn-group-filters {
  .btn {
    color: $supla-black;
    border-color: $supla-grey-light;
    text-transform: uppercase;
    line-height: 26px;
    padding: 4px 10px;
    font-size: .8em;
    background: $supla-white;
    font-weight: 400;
    border-radius: 3px;
    outline-color: $supla-grey-light !important;
    &:hover {
      background: $supla-grey-light;
    }
    &.active {
      background: $supla-grey-light;
    }
  }
  &:hover {
    .btn {
      border-color: $supla-black;
      &.active {
        color: $supla-white;
        background: $supla-black;
      }
    }
  }
  &-dropdown {
    display: none;
  }
  @include on-xs-and-down {
    &-dropdown {
      display: block;
    }
    &-inline {
      display: none;
    }
  }
}

.always-dropdown {
  .btn-group-filters {
    &-dropdown {
      display: block;
    }
    &-inline {
      display: none;
    }
  }
}

.btn-group {
  // with default position: auto bootstrap dropdown appears below the buttons (eg. in schedules in COPY action)
  position: static;
  .btn {
    position: static;
  }
}

.btn-group-flex {
  display: flex;
  justify-content: center;
  .btn {
    white-space: normal !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
