.checkbox-green, .checkbox-yellow {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 9px;
      top: 5px;
      width: 7px;
      height: 12px;
      border: solid white;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
  }
  &:hover input ~ .checkmark {
    background-color: $supla-grey-light;
  }
  input:checked ~ .checkmark {
    background-color: $supla-green;
    &:after {
      display: block;
    }
  }
  &.checkbox-yellow {
    .checkmark {
      &:after {
        border-color: $supla-grey-dark;
      }
    }
    input:checked ~ .checkmark {
      background-color: $supla-yellow;

    }
  }
}
