@mixin on-and-down($size) {
  @media only screen and (max-width: $size) {
    @content;
  }
}

@mixin on-and-up($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}

@mixin on-xs-and-down {
  @include on-and-down(768px) {
    @content;
  }
}

@mixin on-md-and-up {
  @include on-and-up(996px) {
    @content;
  }
}

@mixin on-lg-and-up {
  @include on-and-up(1200px) {
    @content;
  }
}
