.pnotify-container {
  background: $supla-white;
  padding: 20px;
  &, .pnotify-title {
    font-weight: 300;
  }
  .pnotify-title {
    text-transform: uppercase;
  }
  .pnotify-title, .pnotify-icon {
    font-size: 26px;
  }

  .pnotify-closer {
    outline: none !important;
    > span {
      font-family: 'Pe-icon-7-stroke';
      font-size: 30px;
      &:after {
        content: "\e680"; // pe-7s-close
      }
    }
  }
}
