@import "./variables";
@import "./mixins";
@import "./fonts";

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}

body {
  font-family: $supla-font-default;
  color: $supla-black;
  background: $supla-bg;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  transition: background-color .5s;
  margin: 0;
  padding: 0;
}

::selection {
  background: $supla-green;
  color: $supla-white;
}

::-moz-selection {
  background: $supla-green;
  color: $supla-white;
}

// disable autofill yellow/blue color in Chrome
// https://stackoverflow.com/a/14205976/878514
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $supla-bg inset !important;
  -webkit-text-fill-color: $supla-black !important;
}

body.green {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px darken($supla-green, 16.5%) inset !important;
    -webkit-text-fill-color: $supla-white !important;
  }
}

body.blue {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px darken($supla-blue, 7%) inset !important;
    -webkit-text-fill-color: $supla-white !important;
  }
}

.form-group-lg {
  input:-webkit-autofill::first-line {
    font-size: 18px;
    font-family: $supla-font-default;
  }
}

.form-group > .btn {
  margin-left: .3em;
}

.help-block.help-error {
  display: none;
}

.has-error .help-error {
  display: block;
}

h1 {
  font-size: 42px;
  line-height: 42px;
  font-weight: 300;

  &.nocapitalize {
    text-transform: none;
  }
}

h1, h2, h3, h4, h5 {
  font-family: $supla-font-special;
  word-break: break-word;
}

h5 {
  font-size: 1.1em;
}

a {
  color: $supla-green;
  transition: color .3s;
  cursor: pointer;

  &:active, &:focus, &:hover {
    text-decoration: none;
    color: $supla-grey-dark;
    outline: none;
    box-shadow: none;
  }
  &.disabled {
    opacity: .8;
    pointer-events: none;
  }
}

h1 > a {
  color: inherit;
}

* {
  outline-color: $supla-green !important;
}

.pointer {
  cursor: pointer;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.low-z-index { // fixes some problems with elements appearing incorrectly above the others
  position: relative;
  z-index: 1
}

.input-group-addon {
  background: transparent !important;
  border: 0 !important;
  border-bottom: 1px solid $supla-grey-light !important;
  border-radius: 0 !important;
}

input[type=text], input[type=password], input[type=email], input[type=number] {
  &.form-control {
    box-shadow: initial;

    &:focus {
      border-color: $supla-green;
    }
  }
}

.fade {
  &-enter-active, &-leave-active {
    transition: opacity .5s
  }

  &-enter, &-leave-to {
    opacity: 0
  }
}

.fade-router {
  &-enter-active, &-leave-active {
    transition: opacity .3s;
  }

  &-enter-active {
    transition-delay: .3s;
  }

  &-enter, &-leave-to {
    opacity: 0
  }
}

.label {
  font-family: $supla-font-special;
  text-transform: uppercase;
  font-size: .9em;
  line-height: initial;

  &.label-danger {
    background: #ff3939;
  }

  &.label-success {
    background: $supla-green;
    border: 1px solid white;
  }

  &.label-grey {
    background: $supla-grey-dark;
  }
}

.vue-switcher input {
  height: initial !important;
}

[class^="pe-7s-"], [class*=" pe-7s-"] {
  outline: none !important;
}

.grid-filters {
  text-align: right;

  ::-webkit-input-placeholder {
    text-align: center;
  }

  ::-moz-placeholder {
    text-align: center;
  }

  :-ms-input-placeholder {
    text-align: center;
  }

  input[type=text] {
    max-width: 150px;
    display: inline-block;
    margin-left: 5px;
  }

  > * {
    margin-bottom: 5px;
  }

  @include on-xs-and-down {
    text-align: center;
    margin: 5px 0;
  }
}

.left-right-header {
  display: flex;
  > :first-child {
    flex: 1;
  }
  @include on-xs-and-down {
    flex-direction: column;
    > :last-child {
      text-align: center;
    }
    &.reverse {
      flex-direction: column-reverse;
      > * {
        text-align: center;
      }
    }
  }
}

.chosen-container.chosen-container-single .chosen-single {
  border: 1px solid $supla-green;
  color: $supla-green;
  box-shadow: none;
}

.hover-editable {
  @include on-md-and-up {
    &:not(:hover):not(.hovered) {
      .form-control, .dropdown:not(.hovered) .btn, .chosen-container .chosen-single {
        color: $supla-black;
        border-color: transparent;
        box-shadow: none;
        transition: border-color .3s;
        background-color: transparent;
      }

      .dropdown:not(.hovered) .caret, .chosen-single > div > b, .help-block {
        visibility: hidden;
      }
    }
  }

  dl {
    margin-bottom: 0;
    font-size: .95em;
    dd, dt {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 4px;
    }
    dt:after {
      display: block;
      content: ' ';
    }
    dt {
      width: calc(100% - 105px);
      font-weight: normal;
    }
    dd {
      width: 100px;
    }
    &.wide-label {
      dt {
        width: calc(100% - 175px);
        font-weight: normal;
      }
      dd {
        width: 170px;
      }
    }
  }

  .form-control {
    border: 1px solid $supla-green;
  }

  .input-group-addon {
    border: 0 !important;
  }
}

dl {
  dd:not(:empty) {
    padding-right: .3em;
  }
}

.nav-tabs {
  li.active a, li.active a:hover {
    background: $supla-bg;
  }
}

.details-tabs {
  min-height: 500px;
}

.modal-body {
  .nav-tabs {
    li.active a, li.active a:hover {
      background: $supla-white;
    }
  }
}

table {
  &.table-valign-middle {
    td {
      vertical-align: middle !important;
    }
  }
}

body.green {
  background-color: $supla-green;
  color: $supla-white;

  &.darker {
    background-color: darken($supla-green, 6%);
  }

  ::selection {
    background: $supla-grey-dark;
    color: $supla-white;
  }

  ::-moz-selection {
    background: $supla-yellow;
    color: $supla-white;
  }

  p a:not(.btn) {
    color: $supla-yellow;
  }

  @include on-xs-and-down {
    background: darken($supla-green, 10%) !important;
  }
}

body.yellow {
  background: $supla-yellow;
}

body.blue {
  background: $supla-blue;
  color: $supla-white;
}

body.warning {
  background-color: lighten($supla-red, 10%);
  color: $supla-white;
}

body.maintenance-mode {
  nav.navbar-top {
    background: $supla-yellow;
    .navbar-brand {
      color: $supla-black;
      fill: $supla-black;
    }

    .nav > li {
      > a {
        color: $supla-black;
      }
      &.active {
        background: darken($supla-yellow, 15%);
      }
    }
  }
  .maintenance-warning {
    margin-top: -20px;
    text-align: center;
  }
}

.text-muted {
  color: inherit !important;
  opacity: .7;
}

body.warning {
  nav.navbar-top {
    background: $supla-yellow;
  }
}

.display-newlines {
  white-space: pre-line;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.in-app-register, .smartphone-webview {
  .page-footer {
    display: none;
  }
}

.dropdown-menu > li {
  > a {
    white-space: normal;
  }
  &.active > a {
    &, &:focus, &:hover {
      background-color: $supla-green;
    }
  }
}

// TODO remove after migrating away from bootstrap select
.bootstrap-select {
  max-width: 100%;
  .text {
    width: 100%;
  }
  .dropdown-toggle {
    color: $supla-black;
  }
  .subject-dropdown-option {
    padding: 5px 3px;
    .icon {
      margin-left: 10px;
      display: flex;
      align-items: center;
      padding-left: .25em;
      padding-right: .25em;
      img {
        height: 60px;
      }
    }
  }
}

.select-loader {
  position: relative;
  text-align: center;
  .button-loading-dots {
    position: absolute;
    top: 8px;
    left: 50%;
    margin-left: -25px;
    z-index: 20;
  }
}

.alert {
  &.alert-warning {
    border-color: darken($supla-yellow, 10%);
    background: lighten($supla-yellow, 10%);
  }
  &.alert-danger {
    border-color: darken($supla-red, 10%);
    background: lighten($supla-red, 10%);
    color: $supla-white;
    a {
      color: $supla-yellow;
    }
  }
}

.flex-left-full-width {
  display: flex;

  > * {
    border-radius: 0;
  }

  > .full, > pre {
    flex: 1;
  }

  > pre {
    padding: 7px;
    margin: 0;
    border-right: 0;
  }

  .btn, .label {
    border-radius: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .btn-group {
    display: flex;
  }

  > :first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  > :last-child, .btn:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.list-group-item {
  @mixin supla-list-group-item($color) {
    background: $supla-white;
    border-color: $color;
    color: darken($color, 10%);
    border-top-color: $supla-grey-light;
    border-bottom-color: $supla-grey-light;
    &:first-child {
      border-top-color: $color;
    }
    &:last-child {
      border-bottom-color: $color;
    }
  }

  &-success {
    @include supla-list-group-item($supla-green);
  }

  &-danger {
    @include supla-list-group-item($supla-red);
  }
}

.panel {
  @mixin supla-panel($color) {
    > .panel-heading {
      background: $color;
      border-color: darken($color, 10%);
      color: $supla-white;
      font-weight: bold;
    }
  }

  &-success {
    @include supla-panel($supla-green);
    > .panel-heading a {
      &:hover, &:focus {
        color: white;
      }
    }
  }

  &-accordion {
    .panel-heading {
      cursor: pointer;
    }
    &-disabled {
      opacity: .5;
      .panel-heading {
        &, * {
          cursor: not-allowed !important;
        }
      }
    }
  }
}

.centered-form-container {
  display: none;
}

.centered-form-page {
  .page-content, .loading-cover, .loading-content, .centered-form-container {
    height: 100%;
  }
  .centered-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .centered-form {
      width: 90%;
      max-width: 400px;
      margin: 0 auto;
      padding: 15px 0;
    }
  }
}

.col-12-if-alone:only-child {
  width: 100%;
}

.error-page-icon {
  margin: 15px 0;
}

.line-clamp {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  &-2 {
    -webkit-line-clamp: 2;
  }
  &-4 {
    -webkit-line-clamp: 4;
  }
}

.text-default {
  color: $supla-black;
}

.text-green {
  color: $supla-green;
}

.text-blue {
  color: $supla-blue;
}

.text-red {
  color: darken($supla-red, 10%);
}

.text-inherit {
  color: inherit;
}

.text-monospace {
  font-family: monospace;
}

.text-bold {
  font-weight: bold;
}

.details-page-block {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 4px;
  h3 {
    margin-top: 0;
  }
  @include on-xs-and-down {
    border: 0;
    background: white;
    padding: 5px 0;
  }
}

.valign-top {
  vertical-align: top !important;
}

input.no-spinner {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  & {
    -moz-appearance: textfield;
  }
}

code {
  color: $supla-blue;
  background-color: lighten($supla-blue, 72%);
}

.or-hr {
  display: flex;
  align-items: center;
  text-align: center;
  color: $supla-grey-dark;
  margin-bottom: 1em;

  &::before,
  &::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid $supla-grey-dark;
  }

  &:not(:empty)::before {
    margin-right: 1em;
  }

  &:not(:empty)::after {
    margin-left: 1em;
  }
}

.text-normal {
  font-weight: normal;
}

.vue-slider.green {
  .vue-slider-process {
    background-color: $supla-green;
  }
  .vue-slider-dot-handle {
    border-color: $supla-green;
  }
  &:hover {
    .vue-slider-process {
      background-color: darken($supla-green, 10%);
    }
    .vue-slider-dot-handle {
      border-color: darken($supla-green, 10%);
      &:hover {
        border-color: $supla-green;
      }
    }
  }
}

@import "./buttons";
@import "./checkbox";
@import "./notifications";
@import "./register-pages";
@import "./tooltips";
@import "./spacing";
@import "./bootstrap-future";
@import "./icons";
