@import "./variables";
@import "./mixins";
@import "./fonts";

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

body {
  font-family: $supla-font-default;
  color: $supla-black;
  background: $supla-bg;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  transition: background-color .5s;
}

::selection {
  background: $supla-green;
  color: $supla-white;
}

::-moz-selection {
  background: $supla-green;
  color: $supla-white;
}

// disable autofill yellow color in Chrome
@-webkit-keyframes autofill {
  to {
    color: #666;
    background: transparent;
  }
}

@-webkit-keyframes autofill-white {
  to {
    color: #fff;
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

h1 {
  font-size: 42px;
  line-height: 42px;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: -3px;

  &.nocapitalize {
    text-transform: none;
  }
}

h1, h2, h3, h4 {
  font-family: $supla-font-special;
}

a {
  color: $supla-green;
  transition: all .3s;
  cursor: pointer;

  &:active, &:focus, &:hover {
    text-decoration: none;
    color: $supla-grey-dark;
    outline: none;
    box-shadow: none;
  }
}

* {
  outline-color: $supla-green !important;
}

.pointer {
  cursor: pointer;
}

.no-margin-top {
  margin-top: 0 !important;
}

.low-z-index { // fixes some problems with elements appearing incorrectly above the others
  position: relative;
  z-index: 1
}

.input-group-addon {
  background: transparent !important;
  border: 0 !important;
  border-bottom: 1px solid $supla-grey-light !important;
  border-radius: 0 !important;
}

input[type=text], input[type=password], input[type=email], input[type=number] {
  &.form-control {
    box-shadow: initial;

    &:focus {
      border-color: $supla-green;
    }
  }
}

.fade {
  &-enter-active, &-leave-active {
    transition: opacity .5s
  }

  &-enter, &-leave-to {
    opacity: 0
  }
}

.fade-router {
  &-enter-active, &-leave-active {
    transition: opacity .3s;
  }

  &-enter-active {
    transition-delay: .3s;
  }

  &-enter, &-leave-to {
    opacity: 0
  }
}

.label {
  font-family: $supla-font-special;
  text-transform: uppercase;
  font-size: .9em;
  line-height: initial;

  &.label-danger {
    background: #ff3939;
  }

  &.label-success {
    background: $supla-green;
    border: 1px solid white;
  }

  &.label-grey {
    background: $supla-grey-dark;
  }
}

.vue-switcher input {
  height: initial !important;
}

[class^="pe-7s-"], [class*=" pe-7s-"] {
  outline: none !important;
}

.grid-filters {
  text-align: right;

  ::-webkit-input-placeholder {
    text-align: center;
  }

  ::-moz-placeholder {
    text-align: center;
  }

  :-ms-input-placeholder {
    text-align: center;
  }

  input[type=text] {
    max-width: 150px;
    display: inline-block;
    margin-left: 5px;
  }

  > * {
    margin-bottom: 5px;
  }

  @include on-xs-and-down {
    text-align: center;
    margin: 5px 0;
  }
}

.left-right-header {
  > :first-child {
    float: left;
  }

  > :last-child {
    float: right;
    margin-top: 20px;
    margin-bottom: 10px;
    @include on-xs-and-down {
      float: none;
      clear: both;
      text-align: center;
    }
  }
}

.chosen-container.chosen-container-single .chosen-single {
  border: 1px solid $supla-green;
  color: $supla-green;
  box-shadow: none;
}

.hover-editable {
  @include on-md-and-up {
    &:not(:hover):not(.hovered) {
      .form-control, .dropdown:not(.hovered) .btn, .chosen-container .chosen-single {
        color: $supla-black;
        border-color: transparent;
        box-shadow: none;
        transition: border-color .3s;
        background-color: transparent;
      }

      .dropdown:not(.hovered) .caret, .chosen-single > div > b {
        visibility: hidden;
      }
    }
  }

  dl {
    margin-bottom: 0;
    font-size: .95em;

    dd, dt {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 4px;
    }

    dt:after {
      display: block;
      content: ' ';
    }

    dt {
      width: calc(100% - 105px);
    }

    dd {
      width: 100px;
    }
  }

  .form-control {
    border: 1px solid $supla-green;
  }

  .input-group-addon {
    border: 0 !important;
  }
}

.nav-tabs {
  li.active a, li.active a:hover {
    background: $supla-bg;
  }
}

table {
  &.table-valign-middle {
    td {
      vertical-align: middle !important;
    }
  }
}

body.green {
  background: $supla-green;
  color: $supla-white;

  nav.navbar-top {
    background: $supla-green;

    .navbar-brand {
      color: $supla-white;
      fill: $supla-white;
    }

    #supla-navbar > .nav > li > a {
      color: $supla-white;
    }
  }

  ::selection {
    background: $supla-yellow;
    color: $supla-white;
  }

  ::-moz-selection {
    background: $supla-yellow;
    color: $supla-white;
  }

  p a:not(.btn) {
    color: $supla-yellow;
  }

  input:-webkit-autofill {
    -webkit-animation-name: autofill-white;
  }
}

body.yellow {
  background: $supla-yellow;
}

body.blue {
  background: $supla-blue;
  color: $supla-white;
}

body.red {
  nav.navbar-top {
    background: $supla-red;

    .navbar-brand {
      color: $supla-white;
      fill: $supla-white;
    }

    #supla-navbar > .nav > li {
      &.active {
        background: darken($supla-red, 5%);
      }

      > a {
        color: $supla-white;
      }
    }
  }
}

.text-muted {
  color: inherit !important;
  opacity: .7;
}

body.warning {
  nav.navbar-top {
    background: $supla-yellow;
  }
}

.display-newlines {
  white-space: pre-line;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.in-app-register {
  .login-footer {
    display: none;
  }
}

.bootstrap-select {
  .text {
    width: 100%;
  }

  .dropdown-menu > li {
    > a {
      white-space: normal;
    }

    &.active > a {
      &, &:focus, &:hover {
        background-color: $supla-green;
      }
    }
  }
}

.alert {
  &.alert-warning {
    border-color: darken($supla-yellow, 10%);
    background: lighten($supla-yellow, 10%);
  }
}

.flex-left-full-width {
  display: flex;

  > :first-child {
    flex: 1;
  }

  > pre {
    padding: 7px;
    margin: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
  }

  .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.list-group-item {
  @mixin supla-list-group-item($color) {
    background: $supla-white;
    border-color: $color;
    color: darken($color, 10%);
    border-top-color: $supla-grey-light;
    border-bottom-color: $supla-grey-light;
    &:first-child {
      border-top-color: $color;
    }
    &:last-child {
      border-bottom-color: $color;
    }
  }

  &-success {
    @include supla-list-group-item($supla-green);
  }

  &-danger {
    @include supla-list-group-item($supla-red);
  }
}

@import "./buttons";
@import "./checkbox";
@import "./notifications";
@import "./register-pages";
