$supla-green: #00D151 !default;
$supla-yellow: #ffe836 !default;
$supla-grey-light: #eaeaea !default;
$supla-grey-dark: #606060 !default;
$supla-black: black !default;
$supla-white: white !default;
$supla-orange: #f60 !default;
$supla-red: #f30 !default;

$supla-font-special: 'Quicksand', sans-serif !default;
$supla-font-default: "Open Sans", sans-serif !default;
