$supla-green: #00D151 !default;
$supla-yellow: #ffe836 !default;
$supla-grey: #eaeaea !default;
$supla-black: black;

$supla-font-special: 'Quicksand', sans-serif !default;
$supla-font-default: "Open Sans", sans-serif !default;
