nelmio_cors:
  paths:
    '^/api/':
      origin_regex: true
      allow_origin: ['%env(CORS_ALLOW_ORIGIN)%']
      allow_headers: ['*']
      allow_methods: ['POST', 'PUT', 'PATCH', 'HEAD', 'GET', 'DELETE']
      expose_headers:
        - 'X-Total-Count'
        - 'X-Count'
        - 'X-Min-Timestamp'
        - 'X-Max-Timestamp'
        - 'SUPLA-MQTT-Password'
      max_age: 3600
