{% extends 'SuplaBundle::empty-layout.html.twig' %}
{% block body %}
    {{ include('@Supla/navbar.html.twig') }}
    <div class="main-content">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
