{% extends 'SuplaBundle::empty-layout.html.twig' %}

{% block body %}
    <div class="vue-container invisible">
        {% block vue %}{% endblock %}
    </div>
    <div id="page-preloader">
        {% include "@Supla/supla-logo-svg.html.twig" %}
        <div class="loader-dots">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <noscript>
            <h3>{% trans %}SUPLA-Cloud will not work without Javascript{% endtrans %}</h3>
        </noscript>
        <p class="if-too-long text-muted">
            {% trans %}if it takes too long, check if the JS scripts are loaded correctly{% endtrans %}
        </p>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        setTimeout(function () {
            var preloader = document.getElementById('page-preloader');
            if (preloader) {
                preloader.className = 'too-long';
            }
        }, 8000);
    </script>
    {% include '@Supla/frontend-config.html.twig' %}
    <script src="{{ asset('assets/dist/commons.js', 'webpack') }}"></script>
{% endblock %}
{% block styles %}
    <style>
        #page-preloader {
            height: 400px;
            width: 350px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -175px;
            margin-top: -200px;
            text-align: center;
            font-family: 'Quicksand', sans-serif;
        }

        #page-preloader svg {
            width: 200px;
            height: 200px;
        }

        #page-preloader .if-too-long {
            display: none;
        }

        #page-preloader.too-long .if-too-long {
            display: block;
            padding-top: 70px;
        }

        #page-preloader noscript {
            color: #F60;
        }

        #page-preloader .loader-dots {
            margin: 70px auto;
        }

        #page-preloader .loader-dots div {
            margin-top: 0;
        }

    </style>
    <style>
        .loader-dots {
            font-size: 0;
            display: block;
            position: relative;
            width: 120px;
            margin: 100px auto;
        }
        .loader-dots div {
            background: none;
            border: solid 2px black;
            width: 25px;
            height: 25px;
            border-radius: 30px;
            position: absolute;
            animation: dots-bounce 1.75s infinite;
            top: 50%;
            margin-top: -15px;
        }
        .loader-dots div:nth-child(2) {
             animation-delay: 0.25s;
             left: 50%;
             margin-left: -15px;
         }
        .loader-dots div:nth-child(3) {
             animation-delay: 0.5s;
             right: 0;
         }


        @keyframes dots-bounce {
            10% {
                transform: translate3d(0, 30px, 0);
                animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
                height: 30px;
            }
            14% {
                height: 90px;
            }
            15% {
                height: 30px;
                transform: translate3d(0, -60px, 0);
                animation-timing-function: cubic-bezier(0.8, 0, 0.8, 1);
            }
            35% {
                transform: translate3d(0, 0, 0);
            }
        }

        .black .loader-dots div {
            border-color: white;
        }
    </style>
{% endblock %}
