{% extends 'SuplaBundle::empty-layout.html.twig' %}

{% block body %}
    <div class="vue-container invisible">
        {% block vue %}{% endblock %}
    </div>
    <div id="page-preloader">
        {% include "@Supla/supla-logo-svg.html.twig" %}
        <h3>
            {% trans %}Loading{% endtrans %}...
        </h3>
        <noscript>
            <h3>{% trans %}SUPLA-Cloud will not work without Javascript{% endtrans %}</h3>
        </noscript>
        <p class="if-too-long text-muted">
            {% trans %}if it takes too long, check if the JS scripts are loaded correctly{% endtrans %}
        </p>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        setTimeout(function () {
            var preloader = document.getElementById('page-preloader');
            if (preloader) {
                preloader.className = 'too-long';
            }
        }, 8000);
    </script>
    {% include '@Supla/frontend-config.html.twig' %}
    <script src="{{ asset('assets/dist/commons.js', 'webpack') }}"></script>
    <script src="{{ asset('assets/dist/translations/messages-' ~ app.request.locale ~ '.js', 'webpack') }}"></script>
{% endblock %}
{% block styles %}
    <style>
        #page-preloader {
            width: 350px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -175px;
            margin-top: -150px;
            text-align: center;
            font-family: 'Quicksand', sans-serif;
        }

        #page-preloader svg {
            width: 200px;
            height: 200px;
        }

        #page-preloader .if-too-long {
            display: none;
        }

        #page-preloader.too-long .if-too-long {
            display: inline;
        }

        #page-preloader noscript {
            color: #F60;
        }
    </style>
{% endblock %}
