{% extends 'SuplaBundle::empty-layout.html.twig' %}

{% block body %}
    {% block beforeVue %}{% endblock %}
    <div class="vue-container invisible">
        <div class="page-content">
            {% block vue %}{% endblock %}
        </div>
        {# the :username binding is required, because the page-footer component is created before $user prototype variable, so it cannot use it directly #}
        <page-footer :username="$user.username"></page-footer>
    </div>
    <div id="page-preloader">
        <img src="/assets/img/preloaders/loader_5.gif">
        <noscript>
            <h3>SUPLA-Cloud will not work without Javascript</h3>
        </noscript>
        <p class="if-too-long text-muted">
            if it takes too long, check if the JS scripts are loaded correctly
        </p>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        setTimeout(function () {
            var preloader = document.getElementById('page-preloader');
            if (preloader) {
                preloader.className = 'too-long';
            }
        }, 8000);
    </script>
    {% include '@Supla/frontend-config.html.twig' %}
    <script src="{{ asset('assets/dist/commons.js', 'webpack') }}"></script>
{% endblock %}
{% block styles %}
    <style>
        @media (min-height: 500px) and (min-width: 768px) {
            html, body {
                height: 100%;
            }
        }

        #page-preloader {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            text-align: center;
            font-family: 'Quicksand', sans-serif;
        }

        #page-preloader img {
            width: 90%;
            max-width: 250px;
            margin: 0 auto;
        }

        #page-preloader .if-too-long {
            opacity: 0;
            transition: opacity 1s linear;
            padding-top: 30px;
        }

        #page-preloader.too-long .if-too-long {
            opacity: 1;
        }

        #page-preloader noscript {
            color: #F60;
        }
    </style>
{% endblock %}
