<div class="cd-panel from-left">
		<div class="cd-panel-container">
			<div class="cd-panel-content">
				<h1>I/O Devices</h1>
				<p>Devices connected to SUPLA can do for You many things, for eg. turn lights on/off, open doors, gates, garage doors, controll blinds, show temperature at Your home, but also offers many sensors. As a device You can use Raspberry Pi or Arduino.</p>

				<p>Setting up devices is simple, all You need to do is follow these <a href="{{ path('_homepage') }}">steps</a></p>

				<p>You can have connected as many devices as You need, use them in many <a href="{{ path('_loc_list') }}">Locations</a> and connect with them through many <a href="{{ path('_aid_list') }}">Access Identifiers</a></p>
			</div> <!-- cd-panel-content -->
		</div> <!-- cd-panel-container -->
	</div> <!-- cd-panel -->