.git/
.idea/
vendor/
src/frontend/node_modules/
.gitignore
.gitattributes
.drone.yml
release/
*.tar.gz
.dockerignore
composer.phar
release.sh

app/phpcs-rules.xml
app/phpunit.xml
app/config/config_local.yml
app/config/parameters.yml

var/cache/*
var/local/*
var/logs/*
var/sessions/*
assets/dist/
