/app/config/parameters.yml
/app/config/config_build.yml
/app/config/config_docker.yml
/app/config/config_local.yml
/bin/
/composer.phar
/vendor/
/var/
/web/dist/
.idea/
*.log
release/
*.tar.gz
*.sha1
*.zip
.settings
.buildpath
.project
.phpunit.result.cache
