/app/config/parameters.yml
/app/config/config_build.yml
/app/config/config_docker.yml
/app/config/config_local.yml
/bin/
/composer.phar
/vendor/
/var/
/web/dist/
.idea/
*.log
release/
*.tar.gz
*.sha1
*.zip
.settings
.buildpath
.project

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
