{% extends 'SuplaBundle::empty-layout.html.twig' %}
{% set page_title = directLink.caption %}
{% block body %}
    <div class="links">
        <h1>
            {% include "@Supla/supla-logo-svg.html.twig" %}
            <span>{{ directLink.caption }}</span>
        </h1>
        {% for action in directLink.allowedActions %}
            <a href="{{ app.request.uri }}/{{ action.nameSlug }}">
                <span>{{ action.caption | trans }}</span>
            </a>
        {% endfor %}
    </div>
{% endblock %}
{% block styles %}
    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
            text-align: center;
            font-family: Arial;
        }

        h1 {
            font-size: 30px;
            background: #eaeaea;
            margin: 0;
            padding: 0;
        }

        .links {
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        .links > * {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .links > a {
            background: #00d151;
            border-top: #35d100 2px solid;
            color: white;
            font-variant: small-caps;
            text-decoration: none;
            font-size: 25px;
        }

        .links > a:hover, .links > a:focus, .links > a:active {
            background: #00b44f;
        }

        svg {
            height: 50px;
            margin-bottom: 20px;
        }
    </style>
{% endblock %}
