{% extends '@web/dist/index.html' %}

{% block beforeVue %}
    <script>
        window.directLink = {{ directLink | json_encode | raw }};
    </script>
{% endblock %}

{% block vue %}
    <div class="page-content">
        <direct-link-execution-result {% if failureReason %}failure-reason="{{ failureReason.value }}"{% endif %}
                action="{{ action.name is defined ? action.name : action }}"></direct-link-execution-result>
    </div>
    <page-footer></page-footer>
{% endblock %}
