{% extends '@Supla/Email/en/template.html.twig' %}

{% block subject %}
    SUPLA – {{ cloudHost() }} unsuccessful login attempt notification
{% endblock %}

{% block preheader %}
    SUPLA – {{ cloudHost() }} unsuccessful login attempt notification
{% endblock %}

{% block body %}
    {% apply paragraph %} Hello! {% endapply %}
    {% apply paragraph %} This information has been generated automatically due to an unsuccessful login attempt to SUPLA-CLOUD ({{ cloudHost() }}) with the use of your email address. {% endapply %}
    {% if ip %}
        {% apply paragraph %} The IP used for login is: <b>{{ ip }}</b> {% endapply %}
    {% endif %}
    {% apply paragraph %}You can ignore this message, if you have accidentally entered an incorrect password.{% endapply %}
    {% apply paragraph %}If you have doubts or more questions, you can contact us directly at
        <a href="mailto:security@supla.org">security@supla.org</a>. {% endapply %}
{% endblock %}

