{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
<div class="container margin-top-30 ">
    <h1 class="title">{% trans %}Password change{% endtrans %}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}