{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
<div class="container margin-top-30 ">
    <h1 class="title">{% trans %}Account{% endtrans %}</h1>
<ul class="user list-unstyled">
	<li><strong>{% trans %}E-Mail{% endtrans %}</strong> {{ user.email }}</li>
	<li><strong>{% trans %}Password{% endtrans %}</strong> <a href="#" id="overlay-delete">{% trans %}Change{% endtrans %}</a></li>
</ul>
<ul class="user list-unstyled">
	<li><strong>{% trans %}Last logged{% endtrans %}</strong> {{ user.lastlogin|date("Y-m-d H:m:s") }}</li>
	<li><strong>{% trans %}Last logged IP{% endtrans %}</strong> {{ user.lastipv4 }}</li>
</ul>
</div>


<div class="overlay-delete overlay-data">
	<div class="dialog">
		<h1>Change Password</h1>
		<div class="password-form">
		  <div class="form-group">
			<input type="password" class="form-control" id="old-password">
			<label for="old-password">Current Password</label>
		  </div>
		  <div class="form-group">
			<input type="password" class="form-control" id="new-password">
			<label for="new-password">Password</label>
		  </div>
		  <div class="form-group">
			<input type="password" class="form-control" id="exampleInputPassword1">
			<label for="exampleInputPassword1">Repeat Password</label>
		  </div>
		</div>
		<div class="controls">
			<a href="#" class="overlay-delete-close cancel">CANCEL</a>
			<a href="" id="assign_type_save" class="save green" name="_assign_type[save]"><i class="pe-7s-check"></i></a></div>
		</div>
	</form>
</div>

<script src="{{ asset('assets/js/details.js') }}"></script>
{% endblock %}