imports:
  - { resource: config.yml }

framework:
  profiler:
    collect: false
  session:
    storage_id: session.storage.mock_file
  test: ~
  mailer:
    dsn: 'null://null'
  messenger:
    routing:
      SuplaBundle\Message\AsyncMessage: 'async'

monolog:
  handlers:
    main:
      action_level: notice
    main_logger:
      max_files: 1
    autodiscover:
      level: debug
      max_files: 1
    direct_links:
      max_files: 1
    supla_server:
      level: debug
      max_files: 1
    test_handler:
      type: test
      level: debug

parameters:
  admin_email: admin@supla.org
  mailer_from: SUPLA TESTS <noreply@supla.local>
  database_name: supla_test
  supla_server: supla.local

services:
  SuplaBundle\Tests\Integration\TestMailer: ~
  SuplaBundle\Mailer\SuplaMailer:
    $mailer: '@SuplaBundle\Tests\Integration\TestMailer'
    $mailerFrom: "%mailer_from%"
  SuplaBundle\Model\TimeProvider:
    class: SuplaBundle\Tests\Integration\Traits\TestTimeProvider
  SuplaBundle\Supla\SuplaServer: '@SuplaBundle\Supla\SuplaServerMock'
  SuplaBundle\Supla\SuplaAutodiscover: '@SuplaBundle\Supla\SuplaAutodiscoverMock'
  SuplaBundle\Supla\SuplaHttpClient:
    class: SuplaBundle\Tests\Integration\Traits\TestSuplaHttpClient
  SuplaBundle\Supla\SuplaServerMockCommandsCollector:
    public: false
    tags: [ { name: data_collector, template: '@Supla/Supla/supla-server-mock-data-collector.html.twig', id: 'supla.supla_server_mock_data_collector' } ]
  test.client:
    class: SuplaBundle\Tests\Integration\TestClient
    shared: false
    public: true
    arguments:
      - '@kernel'
      - '%test.client.parameters%'
      - '@test.client.history'
      - '@test.client.cookiejar'

supla:
  brute_force_auth_prevention:
    enabled: true
  api_rate_limit:
    enabled: true
    blocking: true
    global_limit: 10000/5
    user_default_limit: 20000/5
  state_webhooks:
    only_for_public_apps: true
  mqtt_broker:
    enabled: true
    integrated_auth: true
  ocr:
    enabled: true

web_profiler:
  toolbar: false
  intercept_redirects: false
