imports:
  - { resource: config.yml }

doctrine:
  dbal:
    connections:
      logs_tsdb:
        dbname: supla_test
        host: tsdb
        user: postgres
        password: postgres

framework:
  profiler:
    collect: false
  session:
    storage_id: session.storage.mock_file
  test: ~
  mailer:
    dsn: 'null://null'
  messenger:
    routing:
      SuplaBundle\Message\AsyncMessage: 'async'

monolog:
  handlers:
    main:
      action_level: notice
    main_logger:
      max_files: 1
    autodiscover:
      level: debug
      max_files: 1
    direct_links:
      max_files: 1
    supla_server:
      level: debug
      max_files: 1
    test_handler:
      type: test
      level: debug

parameters:
  admin_email: admin@supla.org
  mailer_from: SUPLA TESTS <noreply@supla.local>
  database_name: supla_test
  supla_server: supla.local





web_profiler:
  toolbar: false
  intercept_redirects: false
