# This file is a "template" of what your parameters.yml file should look like
parameters:
  database_host: 127.0.0.1
  database_port: ~
  database_name: supla
  database_user: root
  database_password: ~

  mailer_dsn: smtp://localhost:25
  mailer_from: ~
  admin_email: ~

  supla_server: localhost:8008
  supla_require_regulations_acceptance: false
  supla_require_cookie_policy_acceptance: false
  brute_force_auth_prevention_enabled: true

  recaptcha_enabled: false
  recaptcha_site_key: ~
  recaptcha_secret: ~

  locale: en

  # A secret key that's used to generate certain security-related tokens
  secret: ThisTokenIsNotSoSecretChangeIt

  cors_allow_origin_regex: []
