{% extends '@Supla/Email/pl/template.html.twig' %}

{% block subject %}
    SUPLA – Nieudane logowanie do {{ cloudHost() }}
{% endblock %}

{% block preheader %}
    Powiadomienie o nieudanym logowaniu do {{ cloudHost() }}.
{% endblock %}

{% block body %}
    {% apply paragraph %} Witaj! {% endapply %}
    {% apply paragraph %} Otrzymujesz tę informację w związku z nieudaną próbą logowania do SUPLA-CLOUD ({{ cloudHost() }}) przy użyciu Twojego adresu email. {% endapply %}
    {% if ip %}
        {% apply paragraph %} Próba logowania nastąpiła z adresu IP: <b>{{ ip }}</b> {% endapply %}
    {% endif %}
    {% apply paragraph %}Możesz zignorować tę wiadomość jeżeli to Ty wprowadziłeś(aś) błędne hasło.{% endapply %}
    {% apply paragraph %}Jeśli masz wątpliwości lub pytania, możesz się z nami skontaktować pisząc na adres
        <a href="mailto:security@supla.org">security@supla.org</a>. {% endapply %}
{% endblock %}

