@import "variables";

// https://moderncss.dev/pure-css-custom-checkbox-style/

.checkbox2 {
  font-weight: normal;
  font-size: 1.15em;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  margin: .5em 0;
  text-align: left;
  align-items: center;

  input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: $supla-white;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }

  &--disabled {
    color: $supla-grey-dark;
    cursor: not-allowed;
  }

  input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em $supla-green;
  }

  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }

  input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
  }

  input[type="checkbox"]:disabled {
    --form-control-color: $supla-grey-dark;

    color: $supla-grey-dark;
    cursor: not-allowed;
  }
  &-yellow input[type="checkbox"]::before {
    box-shadow: inset 1em 1em $supla-yellow;
  }
  &-grey {
    color: $supla-grey-dark;
  }
  &.small {
    margin: 0;
    padding: 0;
    &, label {
      height: 15px;
    }
    label {
      padding-left: 15px;
    }
  }
}

