<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         colors="true"
         beStrictAboutOutputDuringTests="true"
         bootstrap="autoload.php"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnPhpunitDeprecations="true">
    <php>
        <const name="APPLICATION_ENV" value="test"/>
        <env name="KERNEL_CLASS" value="AppKernel"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[direct]=0"/>
        <ini name="memory_limit" value="192M"/>
    </php>
    <testsuites>
        <testsuite name="unit">
            <directory>../src/*Bundle/Tests</directory>
            <exclude>../src/*Bundle/Tests/Integration</exclude>
        </testsuite>
        <testsuite name="integration">
            <directory>../src/*Bundle/Tests/Integration</directory>
            <exclude>../src/*Bundle/Tests/Integration/Controller</exclude>
        </testsuite>
        <testsuite name="api">
            <directory>../src/*Bundle/Tests/Integration/Controller</directory>
        </testsuite>
    </testsuites>
    <groups>
        <exclude>
            <group>AutodiscoverIntegrationTest</group>
        </exclude>
    </groups>
    <source>
        <include>
            <directory>../src</directory>
        </include>
        <exclude>
            <directory>../src/*Bundle/Resources</directory>
            <directory>../src/*Bundle/Tests</directory>
        </exclude>
    </source>
</phpunit>
