<h1>Localizzazioni</h1>
<p>Per far accedere il dispositivo di entrata/uscita al sistema bisogna impostare l’identificatore della localizzazione e la password per l’autorizzazione nelle impostazioni. Dopodiché il dispositivo diventa una parte del gruppo predisposto nell’ambito di localizzazione determinato dall’utente. L’ambito riguardante una data localizzazione dipende solo dall’utente. Le singole localizzazioni vanno collegate agli <strong>identificatori d’accesso</strong> scelti, il che consente una certa precisione delle autorizzazioni determinanti per il possesso degli utenti.<br /><br />La localizzazione può essere tenuta spenta oppure riaccesa in ogni momento, di conseguenza i dispositivi che funzionano in ambito della localizzazione saranno visibili o meno.<br /><br /><strong>Dopo aver cambiato la password, essa va messa di nuovo anche sui dispositivi che funzionano in ambito della localizzazione modificata.</strong><br /><br />La denominazione della localizzazione al tempo stesso determina il suo nome e può essere cambiata in ogni momento. Le nuove impostazioni andranno ad aggiornarsi automaticamente nelle applicazioni del cliente su smartphone e tablet. 
<br /><br /><strong>L’estrazione della localizzazione richiede previa l’estrazione di tutti i dispositivi di entrata/uscita collegati alla localizzazione in merito.</strong><br /><br />
 
Esempi di localizzazione:<br />
- Casa, Azienda, Giardino<br /> 
- Camera da letto, Bagno, Cucina, Corridoio<br />
- Servizio Clienti, Servizio, Contabilità<br />
- Rimessa 1, Rimessa 2<br /><br /><br /><br /><br />
</p>