{% extends 'SuplaBundle::mobile-first-layout.html.twig' %}
{% block content %}
    <div id="devices-list"></div>
{% endblock %}
{% block scripts %}
    <script src="{{ asset('assets/dist/devices-list-page.js', 'webpack') }}"></script>
{% endblock %}
