{% extends 'SuplaBundle::mobile-first-layout.html.twig' %}
{% block content %}
    <div id="client-apps"></div>
{% endblock %}
{% block scripts %}
    <script src="{{ asset('assets/dist/client-apps.js', 'webpack') }}"></script>
{% endblock %}
