<h1>Ключ Доступа</h1>

<p><strong>Ключ Доступа</strong> управляет правами доступа к ситеме для клиентских устпойств (смартфонов/планшетов). <br /><br />Пользователь вошедший с конкретным ключем получает доступ к приписанным ему областям и сответственно ко всем входящим в эти области устройства. Вы можете создать ключи для отдельныхтпользователей или группы пользователей. Используйте подписывание Ключей для более легкого использования, например for example: “Дети”, “Родители”, “Работники”, “Я сам”. . <br /><br /><strong>При смене пароля не забудьте изменитьтеготв настройках клиентских устройств испоьлзующих такой Ключ. </strong><br /><br />Отключенный Ключ Доступа мгновенно отключает и все устройства подключенные через него. Отключенный Ключ можнотзадействовать обрвтнотв любой моментивремени.<br /><br />
Области приписанные или отключенные от Ключа Доступа, как и другие изменения настроек, автоматически изменяют содержание пользовательского интерфейса клиентских программ.<br /><br /><br /><br /></p>

