<h1>Области</h1>


<p>Для подключения устройств к облаку необходимо ввести идентификатор и пароль области. После этого устройство становится частью области заданной пользователем. Число устройств в области зависит трлько от Вашего желания. Каждая область приписывается к определенному <strong>Ключу Доступа</strong> который позволяет определить пользователей управляющих устройствами в данной области.<br /><br />Области могут использоваться либо блокироваться в любой момент, таким образом все устройства входящие в данную область будут видны или скрыты одновременно.<br /><br /><strong>При изменении пароля области его нужно обновлять во всех устройствах входящих в нее.</strong><br /><br />Подпись области задает ее имя в пользовательских устройствах и может менятся в любое время на сайте. Изменения автоматически синхронизируются в клиентских приложениях на смартфонах и планшетах. 
<br /><br /><strong>In order to have the location removed, all the I/O Devices assigned to this location must be removed first.</strong><br /><br />

Примеры областей:<br />
- Дом, Офис, Дача<br />
- Спальня, Ванная, Кухня<br />
- Приемная, Техотдел, Бухгалтерия <br />
- Гараж 1, Гараж 2<br /><br /><br /><br /><br />
</p>

