<h1>Lieux</h1>

<p>Pour connecter un dispositif entrée/sortie au système,  il faut saisir un identifiant de lieu et un mot de passe dans ses paramètres. Ainsi le dispositif commence à faire partie du groupe situé dans un lieu défini par l'utilisateur. À vous de décider de la zone de couverture de chaque lieu. Chaque lieu doit être associé aux <strong>identifiants d'accès</strong> choisis ce qui permet de définir soi-disant autorisations déterminantes quant à la priorité d'accès à des lieux individuels parmi les utilisateurs.<br /><br />Un lieu peut être désactivé ou réactivé à tout moment, de même les dispositifs fonctionnant à un lieu seront visibles ou pas.<br /><br /><strong>La modification de mot de passe nécessite une réintroduction de celui-ci dans des dispositifs fonctionnant à l'intérieur d'un lieu modifié.</strong><br /><br />La signature d'un lieu détermine à la fois son nom et elle peut être modifiée à tout moment. Les nouveaux paramètres sont automatiquement introduits dans les applications client-side installés sur smartphones et tablettes.
<br /><br /><strong>La suppression d'un lieu nécessite que tous les dispositifs entrée/sortie qui sont connectés à ce lieu soient préalablement supprimés.</strong><br /><br />

Exemples de lieux:<br />
- Maison, Entreprise, Jardin<br />
- Chambre à coucher, Salle de bain, Cuisine, Couloir<br />
- SàC, Service, Comptabilité<br />
- Garage 1, Garage 2<br /><br /><br /><br /><br />
</p>
