<h1>Lokalizacje</h1>


<p>Aby podłączyć urządzenie wejścia/wyjścia do systemu należy w jego ustawieniach wprowadzić identyfikator lokalizacji oraz hasło wymagane do autoryzacji. Tym samym urządzenie staje się częścią grupy umiejscowionej w obrębie zdefiniowanej przez użytkownika lokalizacji. Obszar objęty przez poszczególną lokalizację zależy wyłącznie od Ciebie. Poszczególne lokalizacje należy skojarzyć z wybranymi <strong>Identyfikatorami Dostępu</strong> co pozwala na określenie swojego rodzaju uprawnień determinujących, który z użytkowników ma dostęp do których lokalizacji.<br /><br />Lokalizacja może zostać w każdym momencie wyłączona lub ponownie włączona, tym samym urządzenia pracujące w obrębie lokalizacji będą widoczne lub nie.<br /><br /><strong>Zmiana hasła wymaga ponownego wprowadzenia go do urządzeń pracujących w obrębie modyfikowanej lokalizacji.</strong><br /><br />Podpis lokalizacji jednocześnie określa jej nazwę i może być zmieniany w dowolnym momencie. Nowe ustawienia są automatycznie wprowadzane w aplikacjach klienckich zainstalowanych na smartfonach oraz tabletach. 
<br /><br /><strong>Usunięcie lokalizacji wymaga wcześniejszego usunięcia wszystkich urządzeń wejścia/wyjścia podłączonych do usuwanej lokalizacji.</strong><br /><br />

Przykłady lokalizacji:<br />
- Dom, Firma, Ogród<br />
- Sypialnia, Łazienka, Kuchnia, Korytarz<br />
- BOK, Serwis, Księgowość<br />
- Garaż 1, Garaż 2<br /><br /><br /><br /><br />
</p>
