<div id="channel_function_params">
    
           
    <div class="cfp_relay_time" id="cfp_relay_time" data-paramname="param1">
       <span>{% trans %}Full opening time{% endtrans %}</span>
       <div class="btn-group" role="group" aria-label="...">
			<input type="number" step="0.25" id="iodevice_channel_type_sec" name="_iodevice_channel_type_sec" value="{{ opening_time }}">
       </div>
       <span>{% trans %}sec.{% endtrans %}</span>
    </div>
    
    <div class="cfp_channel">
      <span>{% trans %}Open sensor{% endtrans %}</span>
    
      <div class="dropdown" id="subchannel_select" data-param_id="param2">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuChannels" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span id="subchannel_name">{{ subchannel_selected }}</span>
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuChannels">
           <li><a data-id="0">{% trans %}None{% endtrans %}</a></li>
           {% for sensor in channels %}
           <li><a data-id="{{ sensor.id }}">{{ sensor.name }}</a></li>
           {% endfor %}
        </ul>
     </div>
  </div>
</div>