<div id="channel_function_params">
       
    <div class="cfp_relay_time" id="cfp_relay_time" data-paramname="param1">
       <span>{% trans %}Relay switching time{% endtrans %}</span>
       <div class="btn-group" role="group" aria-label="...">
         <input type="number" step="0.5" id="iodevice_channel_type_sec1" name="_iodevice_channel_type_sec1" value="{{ relay_time }}">
       </div>
       <span>{% trans %}sec.{% endtrans %}</span>
    </div>
    
</div>