

<h1>Localizaciones</h1>

<p>Para conectar el dispositivo de entrada/salida al sistema, conviene introducir en los ajustes el identificador de localización y la contraseña requerida para llevar a cabo la autorización. Asimismo el dispositivo se hará parte de un grupo situado dentro la localización determinada por el usuario. El alcance de la localización depende exclusivamente de ti. Conviene asignar cada localización a los <strong>Identificadores de Acceso</strong> seleccionados, eso permitirá determinar una especie de autorizaciones para indicar cuáles de los usuarios tendrán acceso a qué localizaciones.<br /><br />Se puede desactivar o reactivar la localización en cualquier momento , así que los dispositivos que operan dentro de una localización dada estarán visibles o no.<br /><br /><strong>Para cambiar la contraseña, conviene reintroducirla en los dispositivos que operan dentro la localización modificada.</strong><br /><br />El título de la localización determina a la vez su nombre y puede ser cambiado en cualquier momento. Nuevos ajustes se introducen automáticamente en las aplicaciones de cliente instaladas en smartphones o tablets.
<br /><br /><strong>
La eliminación de la localización requiere que se eliminen previamente todos los dispositivos de entrada/salida conectados a la localización que se borra.
<br /><br /></strong>
Localizaciones ejemplares:<br />
- Casa, Empresa, Jardín<br />
- Dormitorio, Baño, Cocina, Pasillo<br />
- CAC, Servicio, Contabilidad<br />
- Garaje 1, Garaje 2<br /><br /><br /><br /><br />
</p>

