<h1>Lokalisierungen</h1>


<p>Um E/A Gerät mit dem System zu verbinden, soll man in seinen Einstellungen Lokalisierung ID und das Kennwort für die Authentifizierung eingeben. Auf diese Weise wird das Gerät ein Teil der Gruppe innerhalb der, durch den Benutzer, vorgegebenen Lokalisierung sein. Der Bereich der zu der bestimmten Lokalisierung gehört ist von dir abhängig. Die einzelnen Lokalisierungen soll man mit den ausgewählten <strong>Zugriffskennungen</strong> assoziieren, was ermöglicht die Beschreibung von Berechtigungen, die bestimmen, welcher Benutzer Zugriff auf diese Lokalisierungen hat.<br /><br />Lokalisierung kann jederzeit deaktiviert oder wieder aktiviert werden, wodurch die Geräte die im Bereich dieser Lokalisierung arbeiten, sichtbar  oder nicht sichtbar werden.<br /><br /><strong>Bei der Kennwort Änderung soll man das Kennwort in den Geräten, die in der modifizierten Lokalisierung arbeiten, eingeben.</strong><br /><br />Bildunterschrift der Lokalisierung beschreibt ihre Name und kann jeder Zeit geändert werden. Die neuen Einstellungen werden automatisch in den installierten auf Smartphones und Tablets Client-Apps eingetragen. 
<br /><br /><strong>Entfernung der Lokalisierung erfordert eine vorherige Entfernung aller E/A Geräte die an der entfernten Lokalisierung verbunden sind.</strong><br /><br />

Beispiele der Lokalisierungen:<br />
- Haus, Firma, Garten<br />
- Schlafzimmer, Badezimmer, Küche, Flur<br />
- Kundendienst, Servis, Buchhaltung<br />
- Garage 1, Garage 2<br /><br /><br /><br /><br />
</p>