<h1>Locations</h1>


<p>In order to connect the I/O device to the system, you need to enter Location Identified and password required for authorization. The same moment the instrument becomes a part of the location group defined by the User. It is completely up to you how big the area covered by a given location is going to be. Each location must be associated with a particular <strong>Access Identifier</strong> which will allow to set your own authorization determining which User should have access to which locations.<br /><br />Location can be disabled and enabled at any given moment, thereby the devices working within the given location will respectively be unseen or visible.<br /><br /><strong>A changed password must be entered in all the devices working within the location.</strong><br /><br />Caption of the location determines its name and can be modified at any time. New settings are automatically entered in client applications installed on the smartphones and tablets. 
<br /><br /><strong>In order to have the location removed, all the I/O Devices assigned to this location must be removed first.</strong><br /><br />

Location examples:<br />
- Home, Office, Garden<br />
- Bedroom, Bathroom, Kitchen, Hall<br />
- Customer Service, Technical Department, Accounting <br />
- Garage 1, Garage 2<br /><br /><br /><br /><br />
</p>
