body {
  font-family: "Open Sans", sans-serif !important;
}

h1 {
  font-size: 42px;
  line-height: 42px;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: -3px;
}

h1, h2, h3, h4 {
  font-family: 'Quicksand', sans-serif;
}

a {
  color: #00D151;
  transition: all .3s;
  cursor: pointer;
  &:active, &:focus, &:hover {
    text-decoration: none;
    color: #606060;
    outline: none;
    box-shadow: none;
  }
}

* {
  outline-color: lime !important;
}

.pointer {
  cursor: pointer;
}

.no-margin-top {
  margin-top: 0 !important;
}

.low-z-index { // fixes some problems with elements appearing incorrectly above the others
  position: relative;
  z-index: 1
}

input[type=text], input[type=password], input[type=email] {
  &.form-control {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #CCC;
    box-shadow: initial;
    background: transparent;
    padding-left: 0;
    padding-right: 0;
  }
}

.input-group-addon {
  background: transparent !important;
  border: 0 !important;
  border-bottom: 1px solid #CCC !important;
  border-radius: 0 !important;
}

.btn {
  &-green {
    background: #15B133;
    color: white;
    border: 1px #15B133 solid !important;
    border-radius: 2px !important;
    &:hover {
      background: lighten(#15B133, 5%);
      color: white !important;
      .text-muted {
        color: #EEE;
      }
    }
  }
  &-white {
    background: white;
    color: #15B133;
    border: 1px solid #15B133 !important;
    border-radius: 2px !important;
    &:hover, &:focus, &:active {
      background: #cffdcd;
      color: #15B133 !important;
    }
  }
  &-black {
    background: black;
    color: white;
    border-radius: 2px !important;
    border: 1px solid black;
    &:hover {
      background: #444;
      color: white;
    }
  }
  &-outline {
    background: transparent;
    &.btn-green {
      color: #15B133;
    }
    &.btn-black {
      color: black;
      &:hover {
        color: white;
      }
    }
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}

.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */
{
  opacity: 0
}

nav.navbar-top {
  &, .navbar-header {
    min-height: 80px;
    background: white;
  }
  .navbar-brand {
    padding-top: 20px;
    width: 160px;
    font-size: 2em;
    color: black;
    font-family: 'Quicksand', sans-serif;
    svg {
      max-width: 45px;
      vertical-align: middle;
    }
  }
  .nav > li > a {
    text-align: center;
    font-size: 12px;
    i {
      font-size: 2em;
      display: block;
      margin: 0 auto;
      margin-bottom: 10px;
    }
    &:hover, &:focus {
      color: #00D151;
    }
  }
  .nav > li.active > a {
    background: #00D151;
    border-bottom-color: #00D151;
    color: white;
    &:hover {
      background: lighten(#00D151, 5%);
      color: white;
    }
  }
  .account-dropdown {
    .dropdown-menu {
      border-top-left-radius: 4px;
    }
    &, a {
      text-align: center;
    }
    .username {
      display: block;
      text-align: center;
      font-size: 1.3em;
      font-family: 'Quicksand', sans-serif;
    }
    .flags {
      text-align: center;
      a {
        display: inline-block;
        padding: 3px;
      }
      img {
        display: block;
        width: 36px;
        height: 36px;
        border: solid 2px #E3E4E5;
        border-radius: 100%;
        transition: all .2s ease-in-out;
      }
    }
    .btn-group {
      margin: 0;
      padding: 0;
      .btn {
        border: 0;
      }
    }
  }
}

.label {
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  font-size: .9em;
  line-height: initial;
  &.label-success {
    background: #00D151;
    border: 1px solid white;
  }
  &.label-grey {
    background: #333;
  }
}

.vue-switcher input {
  height: initial !important;
}
