<div v-schedule-chooser-once>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <div class="once-datepicker"></div>
            </div>
        </div>
    </div>
</div>
