<div v-schedule-chooser-once>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>{{ 'Date'|trans }}</label>
                <div class="datepicker"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>{{ 'Hour'|trans }}</label>
                <div class="input-group clockpicker" data-autoclose="true" data-default="now"
                     data-fromnow="600000">
                    <input type="text" class="form-control">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
