<h1>Устройства</h1>

<p><strong>Устройства</strong> позволяют управлять и отслеживать состояние электрооборудования вашего дома или офиса. Устройства можно изготовить на популярных и доступных платформах таких как RaspberryPI, Arduino или ESP8266. Все устройства содержат так называемые каналы управления, их число и назначения задаются при конфигурировании устройств. Все каналы назначаются либо как "Входы" либо как "Выходы" определенного типа. <br /><br />
<strong>Входы</strong> – каналы для получения данных с устройства, как то температура, влажность, датчик открытия<br />
<strong>Выходы</strong> – каналы для управления прдкоюченным к устройству оборудованием<br />
<strong>Тип</strong> – канала задает исполнительные механизмы, как то реле, термометр, диммер<br />
<br /><br />
Тип канала также задает исполняемую функцию, т.е. канал реле может управлятся по нажатию или на заданное время. Тип канала нужно сконфигурировать или отключить за ненадобностью. Выбранная функция напрямую определяет стиль отображения устройства в прльзовательском прилодении на смартфоне или планшете. <br/><br />Отключение устройства в облаке приводит к скрытию функций управления этим устройством на смартфоне или плашете. Как только вы задействуете его снова, все функции выполняемые им станут снова доступны в пользовательских программах.<br /><br />Статус устройства определяется в зависимости от того подключено ли оно к серверу. Время последнего подключения указывает когда была установлена связь.<br /><br />Каждой функции задается подпись по умолчанию, например “Роллеты”, “Дверь”. Эту подпись можно и нужно заменить для более точного описания выполняемой функции, например: “Роллеты на балконе”, “Входная дверьr”, и т.д. Этотделается в установках соответствующегоиканала. для возврата к исходным значения нужно оставить поле пустым.<br /><br />
Для включения устройства в систему необходимо ввести номер области и ее пароль в его настройках (при программировании или первом включении). При правильном подключении к сети интернет, устройство автоматически появляется в списке на сайте облака<br /><br /><br /><br /></p>

