<h1>Области</h1>


<p>Для подключения устройств к облаку необходимо ввести идентификатор и пароль области. После этого устройство становится частью области заданной пользователем. Число устройств в области зависит трлько от Вашего желания. Каждая область приписывается к любому <strong>Ключу Доступа</strong> который позволяет определить возможность пользователей управлять областями и входящими в них устпойствами.<br /><br />Области могут использоваться либо блокироваться в любой момент, таким образом все устройства входящие в данную область будут видны или скрыты одновременно.<br /><br /><strong>При изменении пароля области его нужно обновлять во всех устройствах входящих в нее.</strong><br /><br />Подпись области задает ее имя в пользовательских устройствах и может менятся в любое время на сайте. Изменения автоматически синхронизируются в клиентских приложениях на смартфонах и планшетах.<br /><br /><strong>В случае необходимости удаления области, все исполнительные устройства присвоенные к таковой должны быть удалены до этого.</strong><br /><br />

Примеры областей:<br />
- Дом, Офис, Дача<br />
- Спальня, Ванная, Кухня<br />
- Приемная, Техотдел, Бухгалтерия <br />
- Гараж 1, Гараж 2<br /><br /><br /><br /><br />
</p>

